http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/47?collection=usa&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cbbd1aef14a1ff8ad5afc546fe649cce"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":47,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Test
        extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"collection":"usa"}}'
  recorded_at: 2024-11-22 19:54:30 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
- request:
    method: get
    uri: https://api.ipums.org/extracts?collection=usa&version=2&pageNumber=1&pageSize=3
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b2dc32909e8caafcc13ce7795308a7f5"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"number":456,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"rCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2408480/usa_00456.R","bytes":406,"sha256":"a8aaec4454d2877af4aac7013211a258adbbbe5e028675ae3df8e47a45dd6479"},"basicCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2408480/usa_00456.cbk","bytes":26764,"sha256":"52c9cf4f9dbf4beb5ef9d2fe78cb6eb0896b4c5fd772426fa9c115a745bdf7e5"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2408480/usa_00456.dat.gz","bytes":83827940,"sha256":"f0f4812bc067578f66fce9ff05f0cb0c13227021fb1856ee4beacd3ce59b35ee"},"stataCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2408480/usa_00456.do","bytes":37005,"sha256":"12c99a8939184e0a986e71a3fa62768481be26c6128bb21490b88b9ed6e8b130"},"sasCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2408480/usa_00456.sas","bytes":19570,"sha256":"79281006c2f46e4e3781481b037e44c69d9c6562390c6b1bd04853d0abe67550"},"spssCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2408480/usa_00456.sps","bytes":20252,"sha256":"347f9c91cdb09fcb7d371e31198a9c255eb4fc23493712cd28a7d4fa0a4d6ce4"},"ddiCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2408480/usa_00456.xml","bytes":85072,"sha256":"dc961fe17442eb0758f0c29e6ec1999ae8bf3bffe36594a1ab783c677a31f5bd"}},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"USA
        extract for API vignette","samples":{"us2018a":{},"us2019a":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"CLUSTER":{"preselected":true},"STATEFIP":{},"STRATA":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{},"MARST":{},"RACE":{}},"collection":"usa"}},{"number":455,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"rCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2408479/usa_00455.R","bytes":406,"sha256":"2ccb629f1172b793a66baf75022d016449ac1db76869aea8402b2ab15b43a3ee"},"basicCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2408479/usa_00455.cbk","bytes":11738,"sha256":"54d7c750a794d730e2b2ca4204c05958d591ffbea1dd70a4bf53df971dd8e7bd"},"data":{"url":"https:[...]
[...]
- request:
    method: get
    uri: https://api.ipums.org/extracts/10?collection=cps&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c6daa64ecfce64c03f8d2d5ed10d5b90"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":10,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps1976_01s":{},"cps1976_02b":{}},"variables":{"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"MISH":{},"PERNUM":{"preselected":true},"WTFINL":{"preselected":true},"CPSIDP":{"preselected":true},"UH_SEX_B1":{},"AGE":{},"SEX":{},"RACE":{}},"collection":"cps"}}'
  recorded_at: 2024-11-22 19:54:30 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
