http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/47?collection=usa&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cbbd1aef14a1ff8ad5afc546fe649cce"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":47,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Test
        extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"collection":"usa"}}'
  recorded_at: 2023-07-19 22:12:36 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
[...]
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=usa&version=2&pageNumber=1&pageSize=3
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"fe7af25e779711fc79984b2d3baaaa45"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"number":348,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"rCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2062923/usa_00348.R","bytes":406,"sha256":"84d83ee7486de46b8e97e353b9a8a1415ae5f1eb7ace69247604fd105ec5c0af"},"basicCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2062923/usa_00348.cbk","bytes":25356,"sha256":"92ee5376d84f04d2bac25949753aeb698ec01eb648c573061a9e6ed7a79f8197"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2062923/usa_00348.dat.gz","bytes":83827507,"sha256":"9ac6f484e0f9cc62aec1d3a87c92ac74cc0a518747d6814ea2b6292ade3f8bcf"},"stataCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2062923/usa_00348.do","bytes":34951,"sha256":"f9bfb2e72fd1386618e22b8d3d640be02a8b239c60afcb57a1a08c286eef4e88"},"sasCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2062923/usa_00348.sas","bytes":18543,"sha256":"c2606751088411b3f8f796bad67d4fa2e57d63e9c9fe83debde3548a0d4690a9"},"spssCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2062923/usa_00348.sps","bytes":19145,"sha256":"b64c6a187b4c6a736bbc318489cb320ea91ed7d2b74b69b1a24033005e1149cb"},"ddiCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2062923/usa_00348.xml","bytes":92152,"sha256":"a16dca90f6860dc1cd5b0d3c4039a86b9844c70fd323cd4e9e3f3ef2ce7a05a3"}},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"USA
        extract for API vignette","samples":{"us2018a":{},"us2019a":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"CLUSTER":{"preselected":true},"STATEFIP":{},"STRATA":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{},"MARST":{},"RACE":{}},"collection":"usa"}},{"number":347,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"rCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2062922/usa_00347.R","bytes":406,"sha256":"5c0d9d76f9f0629f679f606a58a043bfe55f28a3861b3f1c7b7141301b10cd19"},"basicCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2062922/usa_00347.cbk","bytes":11153,"sha256":"90828c66841a76ace4227175982c11cbbc69d52d771672aea8a58a8d4031721d"},"data":{"url":"https:[...]
[...]
- request:
    method: get
    uri: https://api.ipums.org/extracts/10?collection=cps&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c6daa64ecfce64c03f8d2d5ed10d5b90"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":10,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps1976_01s":{},"cps1976_02b":{}},"variables":{"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"MISH":{},"PERNUM":{"preselected":true},"WTFINL":{"preselected":true},"CPSIDP":{"preselected":true},"UH_SEX_B1":{},"AGE":{},"SEX":{},"RACE":{}},"collection":"cps"}}'
  recorded_at: 2023-07-19 22:12:36 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
