http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/1223?collection=nhgis&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"bc77f21bafbdece8de15c5de6a73625f"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":1223,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"codebookPreview":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2028927/nhgis1223_csv_PREVIEW.zip","bytes":2616,"sha256":null},"tableData":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2028927/nhgis1223_csv.zip","bytes":7046,"sha256":null}},"extractDefinition":{"dataFormat":"csv_no_header","description":"NHGIS
        extract for API vignette","datasets":{"2010_SF1a":{"dataTables":["P1","P2"],"geogLevels":["state"],"breakdownValues":["bs32.ge00"]}},"version":2,"collection":"nhgis"}}'
  recorded_at: 2023-05-10 07:37:51 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/nhgis/api/v1/extracts/2028927/nhgis1223_csv.zip
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="nhgis1223_csv.zip"; filename*=UTF-8''nhgis1223_csv.zip
      content-type: application/zip
      etag: '"645b49c3-1b86"'
      last-modified: Wed, 10 May 2023 07:37:39 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: yes
      string: fixtures/nhgis1223_csv.zip
  recorded_at: 2023-05-10 07:37:51 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
