http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/1153?collection=nhgis&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3192158c3ec188a0b02a7b58106940a0"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":1153,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"codebookPreview":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2002399/nhgis1153_csv_PREVIEW.zip","bytes":2616,"sha256":null},"tableData":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2002399/nhgis1153_csv.zip","bytes":7046,"sha256":null}},"extractDefinition":{"dataFormat":"csv_no_header","description":"NHGIS
        extract for API vignette","datasets":{"2010_SF1a":{"dataTables":["P1","P2"],"geogLevels":["state"],"breakdownValues":["bs32.ge00"]}},"version":2,"collection":"nhgis"}}'
  recorded_at: 2023-04-06 22:29:42 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/nhgis/api/v1/extracts/2002399/nhgis1153_csv.zip
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="nhgis1153_csv.zip"; filename*=UTF-8''nhgis1153_csv.zip
      content-type: application/zip
      etag: '"642f47cb-1b86"'
      last-modified: Thu, 06 Apr 2023 22:29:31 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: yes
      string: fixtures/nhgis1153_csv.zip
  recorded_at: 2023-04-06 22:29:42 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
