http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/960?collection=nhgis&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1777f7cccc3edf6860d6b2764aa12a7e"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"number":960,"data_format":"csv_no_header","description":"NHGIS extract
        for API vignette","status":"completed","download_links":{"codebook_preview":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1945636/nhgis0960_csv_PREVIEW.zip","table_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1945636/nhgis0960_csv.zip"},"datasets":{"2010_SF1a":{"data_tables":["P1","P2"],"geog_levels":["state"],"breakdown_values":["bs32.ge00"]}},"time_series_tables":null,"time_series_table_layout":null,"shapefiles":null,"geographic_extents":null,"breakdown_and_data_type_layout":null}'
  recorded_at: 2023-01-20 20:03:04 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/nhgis/api/v1/extracts/1945636/nhgis0960_csv.zip
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="nhgis0960_csv.zip"; filename*=UTF-8''nhgis0960_csv.zip
      content-type: application/zip
      etag: '"63caf370-1b86"'
      last-modified: Fri, 20 Jan 2023 20:02:56 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: fixtures/nhgis0960_csv.zip
  recorded_at: 2023-01-20 20:03:04 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
