http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets?collection=nhgis&version=2&pageNumber=1&pageSize=2500
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5614a90688b0e21bba44b934b9af6d77"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"name":"1790_cPop","group":"1790 Census","description":"Population
        Data [US, States \u0026 Counties]","sequence":101},{"name":"1800_cPop","group":"1800
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":201},{"name":"1810_cPop","group":"1810
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":301},{"name":"1820_cPop","group":"1820
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":401},{"name":"1830_cPop","group":"1830
        Census","description":"Population Data [US, States \u0026 Counties]","se[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2010_SF1a?collection=nhgis&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0cb29bbcfb42a62230d555c65f030845"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"name":"2010_SF1a","nhgisId":"ds172","group":"2010 Census","description":"SF
        1a - P \u0026 H Tables [Blocks \u0026 Larger Areas]","sequence":4802,"hasMultipleDataTypes":false,"dataTables":[{"name":"P1","nhgisCode":"H7V","description":"Total
        Population","sequence":1},{"name":"P2","nhgisCode":"H7W","description":"Urban
        and Rural","sequence":2},{"name":"P3","nhgisCode":"H7X","description":"Race","sequence":3},{"name":"P4","nhgisCode":"H7Y","description":"Hispanic
        or Latino Origin","sequence":4},{"name":"P5","nhgisCode":"H7Z","description":"Hispanic
        or Latino Origin by Race","sequence":5},{"name":"P6","nhgisCode":"H70","description":"Race
        (Total Races Tallied)","sequenc[...]
