http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/time_series_tables?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5b1e24185904ca5cb92db89cbdfe51b2"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"A00","description":"Total Population","geographic_integration":"Nominal","sequence":0.01,"years":["1790","1800","1810","1820","1830","1840","1850","1860","1870","1880","1890","1900","1910","1920","1930","1940","1950","1960","1970","1980","1990","2000","2010","2020"],"geog_levels":["state","county"]},{"name":"AV0","description":"Total
        Population","geographic_integration":"Nominal","sequence":0.02,"years":["1970","1980","1990","2000","2010","125","2020","195"],"geog_levels":["state","county","tract","cty_sub","place"]},{"name":"B78","description":"Total
        Population","geographic_integration":"Nominal","sequence":0.03,"years":["1980","1990","2000","2010","125","2020","195"],"geog_levels":["nation","region","division","state","county","tract","cty_sub","place"][...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2010_SF1a?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"225379794386f6e21e8f0e5c6f73f013"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"2010_SF1a","nhgis_id":"ds172","group":"2010 Census","description":"SF
        1a - P & H Tables [Blocks & Larger Areas]","sequence":4802,"has_multiple_data_types":false,"data_tables":[{"name":"P1","nhgis_code":"H7V","description":"Total
        Population","sequence":1},{"name":"P2","nhgis_code":"H7W","description":"Urban
        and Rural","sequence":2},{"name":"P3","nhgis_code":"H7X","description":"Race","sequence":3},{"name":"P4","nhgis_code":"H7Y","description":"Hispanic
        or Latino Origin","sequence":4},{"name":"P5","nhgis_code":"H7Z","description":"Hispanic
        or Latino Origin by Race","sequence":5},{"name":"P6","nhgis_code":"H70","description":"Race
        (Total Races Tallied)","se[...]
