http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/samples?collection=cps&version=2&pageNumber=1&pageSize=2500
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8b72c3838654e729605a8901deede8d3"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"name":"cps1962_03s","description":"IPUMS-CPS, ASEC 1962"},{"name":"cps1963_03s","description":"IPUMS-CPS,
        ASEC 1963"},{"name":"cps1964_03s","description":"IPUMS-CPS, ASEC 1964"},{"name":"cps1965_03s","description":"IPUMS-CPS,
        ASEC 1965"},{"name":"cps1966_03s","description":"IPUMS-CPS, ASEC 1966"},{"name":"cps1967_03s","description":"IPUMS-CPS,
        ASEC 1967"},{"name":"cps1968_03s","description":"IPUMS-CPS, ASEC 1968"},{"name":"cps1969_03s","description":"IPUMS-CPS,
        ASEC 1969"},{"name":"cps1970_03s","d[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/samples?collection=ipumsi&version=2&pageNumber=1&pageSize=2500
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"bceab6761d369f80ca1cb0093e076941"
      x-ratelimit-limit: '-1'
   [...]
