http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/datasets/1900_cAg?collection=nhgis&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7a1e09b6ad15a5cf5e44fd3cf2aaf87e"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"name":"1900_cAg","nhgisId":"ds30","group":"1900 Census","description":"Agriculture
        Data [US, States \u0026 Counties]","sequence":1401,"hasMultipleDataTypes":false,"dataTables":[{"name":"NT1","description":"Total
        Population","universe":"Persons","nhgisCode":"AWS","sequence":1,"datasetName":"1900_cAg","nVariables":1},{"name":"NT2","description":"Number
        of Farms","universe":"Farms","nhgisCode":"AW3","sequence":2,"datasetName":"1900_cAg","nVariables":1},{"name":"NT3","description":"Average
        Farm Size","universe":"Farms","nhgisCode":"AXE","sequence":3,"datasetName":"1900_cAg","nVariables":1},{"name":"NT4","description":"Farm
        Acreage","universe":"Farms","nhgisCode":"AXP","sequence":4,"datasetName":"1900_cAg","nVariables":10},{"name":"NT5","description":"Farm
        Management","univers[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/datasets/1900_cAg/data_tables/NT2?collection=nhgis&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0d18004dc21f56f8ac68449668304dcf"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"name":"NT2","description":"Number of Farms","universe":"Farms","nhgisCode":"AW3","sequence":2,"datasetName":"1900_cAg","variables":[{"description":"Total","nhgisCode":"AW3001"}]}'
  recorded_at: 2024-06-02 12:37:23 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
