http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/1900_cAg?collection=nhgis&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d05cc1e6cb02f78834fef6cc4a36f845"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"name":"1900_cAg","nhgisId":"ds30","group":"1900 Census","description":"Agriculture
        Data [US, States \u0026 Counties]","sequence":1401,"hasMultipleDataTypes":false,"dataTables":[{"name":"NT1","nhgisCode":"AWS","description":"Total
        Population","sequence":1},{"name":"NT2","nhgisCode":"AW3","description":"Number
        of Farms","sequence":2},{"name":"NT3","nhgisCode":"AXE","description":"Average
        Farm Size","sequence":3},{"name":"NT4","nhgisCode":"AXP","description":"Farm
        Acreage","sequence":4},{"name":"NT5","nhgisCode":"AXZ","description":"Farm
        Management","sequence":5},{"name":"NT6","nhgisCode":"AYA","description":"Race
        of Farmer","sequence":6},{"name":"NT[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/1900_cAg/data_tables/NT2?collection=nhgis&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0d18004dc21f56f8ac68449668304dcf"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"name":"NT2","description":"Number of Farms","universe":"Farms","nhgisCode":"AW3","sequence":2,"datasetName":"1900_cAg","variables":[{"description":"Total","nhgisCode":"AW3001"}]}'
  recorded_at: 2023-07-13 16:51:20 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
