http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=2&pageNumber=1&pageSize=3
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0b00a9ccc086a54a1eb05c7724148b96"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"number":1153,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"codebookPreview":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2002399/nhgis1153_csv_PREVIEW.zip","bytes":2616,"sha256":null},"tableData":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2002399/nhgis1153_csv.zip","bytes":7046,"sha256":null}},"extractDefinition":{"dataFormat":"csv_no_header","description":"NHGIS
        extract for API vignette","datasets":{"2010_SF1a":{"dataTables":["P1","P2"],"geogLevels":["state"],"breakdownValues":["bs32.ge00"]}},"version":2,"collection":"nhgis"}},{"number":1152,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"codebookPreview":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2002373/nhgis1152_csv_PREVIEW.zip","bytes":2616,"sha256":null},"tableData":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2002373/nhgis1152_csv.zip","bytes":7046,"sha256":null}},"extractDefinition":{"dataFormat":"csv_no_header","description":"NHGIS
        extract for API vignette","datasets":{"2010_SF1a":{"dataTables":["P1","P2"],"geogLevels":["state"],"breakdownValues":["bs32.ge00"]}},"version":2,"collection":"nhgis"}},{"number":1151,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"codebookPreview":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2002367/nhgis1151_csv_PREVIEW.zip","bytes":2616,"sha256":null},"tableData":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2002367/nhgis1151_csv.zip","bytes":7046,"sha256":null}},"extractDefinition":{"dataFormat":"csv_no_header","description":"NHGIS
        extract for API vignette","datasets":{"2010_SF1a":{"dataTables":["P1","P2"],"geogLevels":["state"],"breakdownValues":["bs32.ge00"]}},"version":2,"collection":"nhgis"}}],"totalCount":1153,"pageNumber":1,"pageSize":3,"links":{"previousPage":null,"nextPage":"https://api.ipums.org/extracts/?collection=nhgis\u0026pageNumber=2\u0026pageSize=3\u0026version=2"}}'
  recorded_at: 2023-04-06 22:29:45 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=usa&version=2&pageNumber=1&pageSize=5
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0afa8cdd651ff6272968cd0753fd298d"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"number":206,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"basicCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002398/usa_00206.cbk","bytes":25356,"sha256":"92ee5376d84f04d2bac25949753aeb698ec01eb648c573061a9e6ed7a79f8197"},"ddiCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002398/usa_00206.xml","bytes":92152,"sha256":"b8786e48b7be5945058e3601dff18695914f65857b48d7d7a183536365c58a21"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002398/usa_00206.dat.gz","bytes":83827507,"sha256":"9ac6f484e0f9cc62aec1d3a87c92ac74cc0a518747d6814ea2b6292ade3f8bcf"},"rCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002398/usa_00206.R","bytes":406,"sha256":"9fa5f59ccecd1160760701db31073dd780c29de804f478f9fb79e2ef22c09e0e"},"sasCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002398/usa_00206.sas","bytes":18543,"sha256":"fa8e254557a8c1c195d6d02dc6a6e1b43964e03cd721b18b636900cab4dffb1f"},"stataCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002398/usa_00206.do","bytes":34951,"sha256":"aebdfb4d157a6f90084cf631db146270799166de7a257a82f6894305b15c6b47"},"spssCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002398/usa_00206.sps","bytes":19145,"sha256":"9d76a7ce8c69560dc6e4a5d3d7efb05f93c63ebe7e1dc9acbb64760a4891640d"}},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"USA
        extract for API vignette","samples":{"us2018a":{},"us2019a":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"CLUSTER":{"preselected":true},"STATEFIP":{},"STRATA":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{},"MARST":{},"RACE":{}},"collection":"usa"}},{"number":205,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"sasCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002397/usa_00205.sas","bytes":6118,"sha256":"2ac09a41d9f474ab69d383d13abc7cee9182e2d0cbf81971205c111c8cfc568a"},"basicCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002397/usa_00205.cbk","bytes":7494,"sha256":"e08c06a8c2e5cd9b8a527694dc96ab8d862c066d7edb76a1f427d79536a3560f"},"rCommandFile":{"[...]
[...]
