http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=v1&limit=3
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"90d2492136c078a8db111596315ea6ff"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '[{"number":960,"data_format":"csv_no_header","description":"NHGIS extract
        for API vignette","status":"completed","download_links":{"codebook_preview":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1945636/nhgis0960_csv_PREVIEW.zip","table_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1945636/nhgis0960_csv.zip"},"datasets":{"2010_SF1a":{"data_tables":["P1","P2"],"geog_levels":["state"],"breakdown_values":["bs32.ge00"]}},"time_series_tables":null,"time_series_table_layout":null,"shapefiles":null,"geographic_extents":null,"breakdown_and_data_type_layout":null},{"number":959,"data_format":"csv_no_header","description":"NHGIS
        extract for API vignette","status":"completed","download_links":{"codebook_preview":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1945590/nhgis0959_csv_PREVIEW.zip","table_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1945590/nhgis0959_csv.zip"},"datasets":{"2010_SF1a":{"data_tables":["P1","P2"],"geog_levels":["state"],"breakdown_values":["bs32.ge00"]}},"time_series_tables":null,"time_series_table_layout":null,"shapefiles":null,"geographic_extents":null,"breakdown_and_data_type_layout":null},{"number":958,"data_format":"csv_no_header","description":"NHGIS
        extract for API vignette","status":"completed","download_links":{"codebook_preview":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1945584/nhgis0958_csv_PREVIEW.zip","table_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1945584/nhgis0958_csv.zip"},"datasets":{"2010_SF1a":{"data_tables":["P1","P2"],"geog_levels":["state"],"breakdown_values":["bs32.ge00"]}},"time_series_tables":null,"time_series_table_layout":null,"shapefiles":null,"geographic_extents":null,"breakdown_and_data_type_layout":null}]'
  recorded_at: 2023-01-20 20:11:38 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=usa&version=beta&limit=5
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"fc6a40213e44f64db66d9c3a6b678b0c"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '[{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Extract
        with marital status","samples":{"us2019a":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"CLUSTER":{"preselected":true},"STATEFIP":{},"STRATA":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{},"MARST":{},"RACE":{}},"download_links":{"R_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1945640/usa_00094.R","bytes":406,"sha256":"238edc49467ff353e6b45eb73a34966faf8d9d0e19bccb529b8004d0bdd5500c"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1945640/usa_00094.dat.gz","bytes":42112691,"sha256":"5b37b8d01d0ad4bc64f132918f3e4fd0f4ad58c1aacf5da570792d16430435b8"},"basic_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1945640/usa_00094.cbk","bytes":25119,"sha256":"24b7061daa11713af8da5446aae9aafbf152ba1df0a219d72cdb0d87365b22e4"},"spss_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1945640/usa_00094.sps","bytes":19070,"sha256":"04bee25826ad578b7a525ebe9fac83267adcc68586f2c302115d998ad0908b91"},"sas_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1945640/usa_00094.sas","bytes":18472,"sha256":"122c9a39c475584674cc6e0a6d72a370f2e4fa8e650a9ab0da5fd5b4624e97c4"},"stata_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1945640/usa_00094.do","bytes":34826,"sha256":"4407d4ef11973efea141ddd32ceb722d63f0aec76a30fa5bd2b04c4aff9c57bf"},"ddi_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1945640/usa_00094.xml","bytes":91641,"sha256":"b122eb47f74d1ae47cc91d89b3481f25e65cdfa588c7dec4cc13273412217a89"}},"number":94,"status":"completed"},{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"My
        favorite extract definition","samples":{"us2019a":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT[...]
[...]
