http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=usa&version=2&pageNumber=1&pageSize=10
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0f0e3a9a9079ca47c9964befea702ccc"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"number":311,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"rCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2028926/usa_00311.R","bytes":406,"sha256":"549c012756d4a4103d37c531043ea61a4b1ead410065425d40a8418b8b1a6aeb"},"basicCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2028926/usa_00311.cbk","bytes":25356,"sha256":"92ee5376d84f04d2bac25949753aeb698ec01eb648c573061a9e6ed7a79f8197"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2028926/usa_00311.dat.gz","bytes":83827507,"sha256":"9ac6f484e0f9cc62aec1d3a87c92ac74cc0a518747d6814ea2b6292ade3f8bcf"},"stataCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2028926/usa_00311.do","bytes":34951,"sha256":"a903f82490852b11e0bc225929a0f4a79867ed2ce11f61f7f944e2a997c5e815"},"sasCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2028926/usa_00311.sas","bytes":18543,"sha256":"3348848d505f2eea813d577458ef95ba54fd22e4eb132315ffcf9e8ef48c1692"},"spssCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2028926/usa_00311.sps","bytes":19145,"sha256":"8c27f43221b18c0088c62f6c53dbc9d84a03262f4eaab44fafa74becb33fb675"},"ddiCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2028926/usa_00311.xml","bytes":92150,"sha256":"febed4d0c5d2d51a8f1834ae2833b2268c544ec9780a2d7c5d2139309c769054"}},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"USA
        extract for API vignette","samples":{"us2018a":{},"us2019a":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"CLUSTER":{"preselected":true},"STATEFIP":{},"STRATA":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{},"MARST":{},"RACE":{}},"collection":"usa"}},{"number":310,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"rCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2028912/usa_00310.R","bytes":406,"sha256":"3070d47bcbbcb74b09cc90e413032ea1505520ee5046f1822edab2461a7de9b7"},"basicCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2028912/usa_00310.cbk","bytes":8177,"sha256":"c465e41aafedcdce19787d2f0d6e184b1e916f2fe340ad2ec87df54f6b40f6c4"},"data":{"url":"https://api.ipums.org/do[...]
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=2&pageNumber=1&pageSize=3
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"26f7e1d80480337c77358ed7fd636f32"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"number":1223,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"codebookPreview":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2028927/nhgis1223_csv_PREVIEW.zip","bytes":2616,"sha256":null},"tableData":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2028927/nhgis1223_csv.zip","bytes":7046,"sha256":null}},"extractDefinition":{"dataFormat":"csv_no_header","description":"NHGIS
        extract for API vignette","datasets":{"2010_SF1a":{"dataTables":["P1","P2"],"geogLevels":["state"],"breakdownValues":["bs32.ge00"]}},"version":2,"collection":"nhgis"}},{"number":1222,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"gisData":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2026051/nhgis1222_shape.zip","bytes":510593,"sha256":null}},"extractDefinition":{"description":"","shapefiles":["110_blck_grp_2019_tl2019"],"version":2,"collection":"nhgis"}},{"number":1221,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"gisData":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2026050/nhgis1221_shape.zip","bytes":510593,"sha256":null}},"extractDefinition":{"description":"","shapefiles":["110_blck_grp_2019_tl2019"],"version":2,"collection":"nhgis"}}],"totalCount":1223,"pageNumber":1,"pageSize":3,"links":{"previousPage":null,"nextPage":"https://api.ipums.org/extracts/?collection=nhgis\u0026pageNumber=2\u0026pageSize=3\u0026version=2"}}'
  recorded_at: 2023-05-10 07:38:18 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
