http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=usa&version=2
    body:
      encoding: ''
      string: '{"description":"USA extract for API vignette","dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","samples":{"us2018a":{},"us2019a":{}},"variables":{"AGE":{},"SEX":{},"RACE":{},"STATEFIP":{},"MARST":{}},"caseSelectWho":"individuals","collection":"usa","version":2}'
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a03c2a5a01525122c85e2adbf56b47bb"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":311,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"USA
        extract for API vignette","samples":{"us2018a":{},"us2019a":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"CLUSTER":{"preselected":true},"STATEFIP":{},"STRATA":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{},"MARST":{},"RACE":{}},"collection":"usa"}}'
  recorded_at: 2023-05-10 07:36:35 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=2
    body:
      encoding: ''
      string: '{"datasets":{"2010_SF1a":{"dataTables":["P1","P2"],"geogLevels":["state"]}},"dataFormat":"csv_no_header","description":"NHGIS
        extract for API vignette","breakdownAndDataTypeLayout":"single_file","collection":"nhgis","version":2}'
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7fb12c33246831533cb7ca0af3f5b2fb"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":1223,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"dataFormat":"csv_no_header","description":"NHGIS
        extract for API vignette","datasets":{"2010_SF1a":{"dataTables":["P1","P2"],"geogLevels":["state"]}},"breakdownAndDataTypeLayout":"single_file","version":2,"collection":"nhgis"}}'
  recorded_at: 2023-05-10 07:36:35 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/311?collection=usa&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2bff0be46fa7b37b3b305e0bbb84785d"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":311,"status":"started","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"USA
        extract for API vignette","samples":{"us2018a":{},"us2019a":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"CLUSTER":{"preselected":true},"STATEFIP":{},"STRATA":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{},"MARST":{},"RACE":{}},"collection":"usa"}}'
  recorded_at: 2023-05-10 07:36:35 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=cps&version=2&pageNumber=1&pageSize=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2ad82fc7967c9340c4af72eb847ba064"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"number":124,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"rCommandFile":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2027285/cps_00124.R","bytes":406,"sha256":"4e3f908a59f36a76d1d5633f74b50c49df43b7953a0b19d22462c2cd74e17b25"},"basicCodebook":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2027285/cps_00124.cbk","bytes":11742,"sha256":"3b83e39b7d925b20dfc439e40becceedce1ba15bde7c84c2ca521e11bfc6c279"},"data":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2027285/cps_00124.dat.gz","bytes":1401240,"sha256":"ec2c5e738e612df007c1f2280e0da8b46d2fc3a692bc9e13b8a176144e019144"},"stataCommandFile":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2027285/cps_00124.do","bytes":16252,"sha256":"d71e05f4412df9a999d3ffcd266ab911c07eb5f70728cd3e4993698709c02dc2"},"sasCommandFile":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2027285/cps_00124.sas","bytes":7920,"sha256":"b42ef88cb4998dd6318bc9edf04282ea0390f2db1437759eecf8c4f0f4fcf389"},"spssCommandFile":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2027285/cps_00124.sps","bytes":7836,"sha256":"901f54efd12440653b629cd99b8e66ef2388cff7ec2f6fbedbe6067c26f8b59a"},"ddiCodebook":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2027285/cps_00124.xml","bytes":53995,"sha256":"8d34b91e068eb4a1a46cf50e02eca7d0a0b810a887e0f8d2bb793d8acbb7e71d"}},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","dataQualityFlags":true,"description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps2018_03s":{},"cps2019_03s":{}},"variables":{"RECTYPE":{},"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"ASECFLAG":{"preselected":true},"ASECWTH":{"preselected":true},"PERNUM":{"preselected":true},"CPSIDP":{"preselected":true},"ASECWT":{"preselected":true},"AGE":{"attachedCharacteristics":["head"]},"SEX":{"caseSelections":{"general":["2"]},"attachedCharacteristics":["mother","mother2","father","father2"]},"RACE":{"caseSelections":{"general":["810","811","812"]}}},"collection":"cps"}}],"totalCount":124,"pageNumber":1,"pageSize":1,"links":{"previousPage":null,"nextPage":"https://api.ipums.org/extracts/?collection=cps\u0026pageNumber=2\u0026pageSize=1\u0026version=2"}}'
  recorded_at: 2023-05-10 07:36:35 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/10?collection=cps&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c6daa64ecfce64c03f8d2d5ed10d5b90"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":10,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps1976_01s":{},"cps1976_02b":{}},"variables":{"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"MISH":{},"PERNUM":{"preselected":true},"WTFINL":{"preselected":true},"CPSIDP":{"preselected":true},"UH_SEX_B1":{},"AGE":{},"SEX":{},"RACE":{}},"collection":"cps"}}'
  recorded_at: 2023-05-10 07:36:35 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
[...]
