http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=usa&version=2
    body:
      encoding: ''
      string: '{"description":"USA extract for API vignette","dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","samples":{"us2018a":{},"us2019a":{}},"variables":{"AGE":{},"SEX":{},"RACE":{},"STATEFIP":{},"MARST":{}}}'
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e25ce42659811130311d0150014bb53c"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":206,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"USA
        extract for API vignette","samples":{"us2018a":{},"us2019a":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"CLUSTER":{"preselected":true},"STATEFIP":{},"STRATA":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{},"MARST":{},"RACE":{}},"collection":"usa"}}'
  recorded_at: 2023-04-06 22:28:28 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=2
    body:
      encoding: ''
      string: '{"datasets":{"2010_SF1a":{"dataTables":["P1","P2"],"geogLevels":["state"]}},"dataFormat":"csv_no_header","description":"NHGIS
        extract for API vignette","breakdownAndDataTypeLayout":"single_file"}'
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ad93188bfee59c811f9556485ded7515"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":1153,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"dataFormat":"csv_no_header","description":"NHGIS
        extract for API vignette","datasets":{"2010_SF1a":{"dataTables":["P1","P2"],"geogLevels":["state"]}},"breakdownAndDataTypeLayout":"single_file","version":2,"collection":"nhgis"}}'
  recorded_at: 2023-04-06 22:28:28 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/206?collection=usa&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e25ce42659811130311d0150014bb53c"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":206,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"USA
        extract for API vignette","samples":{"us2018a":{},"us2019a":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"CLUSTER":{"preselected":true},"STATEFIP":{},"STRATA":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{},"MARST":{},"RACE":{}},"collection":"usa"}}'
  recorded_at: 2023-04-06 22:28:28 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=cps&version=2&pageNumber=1&pageSize=1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"26f62f8fc24d3c1a23c9eb4e6e678859"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"number":71,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"rCommandFile":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2002325/cps_00071.R","bytes":406,"sha256":"ad8f5ab4304618f56bf6876ddf17f693af1c928778b292a40d7d5807f4c25a34"},"basicCodebook":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2002325/cps_00071.cbk","bytes":5901,"sha256":"b32f7baf7139ab5799683602ec7302fed2f252fefa5cdfbff6f37f6e2e19a055"},"spssCommandFile":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2002325/cps_00071.sps","bytes":3894,"sha256":"bd5c4b9fcd501fea290ff764c35749f3bdadf59b156e207542799b4add0d56e6"},"stataCommandFile":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2002325/cps_00071.do","bytes":7764,"sha256":"3d481b0a56d576cb4033b028171e4cf7ce64dd9e564cc643b5faf4dd5a128b7d"},"data":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2002325/cps_00071.dat.gz","bytes":2440152,"sha256":"a23b17944b5dc635071a3983afb1bae270807b97674bc8e7c422c34c7fe4bd93"},"sasCommandFile":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2002325/cps_00071.sas","bytes":4045,"sha256":"c24bea121ac400f5a3b3010c0eb7cc3395d31653cc0639222753c25e4cd33124"},"ddiCodebook":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2002325/cps_00071.xml","bytes":31665,"sha256":"da26efdba458213460e2091e44c6d94449510c11d6aa738ad74fcf5340cc942e"}},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps1976_01s":{},"cps1976_02b":{}},"variables":{"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"MISH":{},"PERNUM":{"preselected":true},"WTFINL":{"preselected":true},"CPSIDP":{"preselected":true},"UH_SEX_B1":{},"AGE":{},"SEX":{},"RACE":{}},"collection":"cps"}}],"totalCount":71,"pageNumber":1,"pageSize":1,"links":{"previousPage":null,"nextPage":"https://api.ipums.org/extracts/?collection=cps\u0026pageNumber=2\u0026pageSize=1\u0026version=2"}}'
  recorded_at: 2023-04-06 22:28:28 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/10?collection=cps&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c6daa64ecfce64c03f8d2d5ed10d5b90"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":10,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps1976_01s":{},"cps1976_02b":{}},"variables":{"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"MISH":{},"PERNUM":{"preselected":true},"WTFINL":{"preselected":true},"CPSIDP":{"preselected":true},"UH_SEX_B1":{},"AGE":{},"SEX":{},"RACE":{}},"collection":"cps"}}'
  recorded_at: 2023-04-06 22:28:28 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
[...]
