http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=usa&version=beta
    body:
      encoding: ''
      string: '{"description":"USA extract for API vignette","data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","samples":{"us2018a":{},"us2019a":{}},"variables":{"AGE":{},"SEX":{},"RACE":{},"STATEFIP":{}}}'
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"95fa070b95e384aeb08363b9f6a9b8b2"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"USA
        extract for API vignette","samples":{"us2018a":{},"us2019a":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"CLUSTER":{"preselected":true},"STATEFIP":{},"STRATA":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{},"RACE":{}},"download_links":{},"number":92,"status":"queued"}'
  recorded_at: 2023-01-20 20:01:48 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=v1
    body:
      encoding: ''
      string: '{"datasets":{"2010_SF1a":{"data_tables":["P1","P2"],"geog_levels":["state"]}},"data_format":"csv_no_header","description":"NHGIS
        extract for API vignette","breakdown_and_data_type_layout":"single_file"}'
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"be24b55f466bb0b8625a3dcc93f870d1"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"number":960,"data_format":"csv_no_header","description":"NHGIS extract
        for API vignette","status":null,"download_links":null,"datasets":{"2010_SF1a":{"data_tables":["P1","P2"],"geog_levels":["state"]}},"time_series_tables":null,"time_series_table_layout":null,"shapefiles":null,"geographic_extents":null,"breakdown_and_data_type_layout":"single_file"}'
  recorded_at: 2023-01-20 20:01:48 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/92?collection=usa&version=beta
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"95fa070b95e384aeb08363b9f6a9b8b2"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"USA
        extract for API vignette","samples":{"us2018a":{},"us2019a":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"CLUSTER":{"preselected":true},"STATEFIP":{},"STRATA":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"SEX":{},"AGE":{},"RACE":{}},"download_links":{},"number":92,"status":"queued"}'
  recorded_at: 2023-01-20 20:01:48 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=cps&version=beta&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d61a45ddab30057bb86d2ee3f6cf8b59"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '[{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps1976_01s":{},"cps1976_02b":{}},"variables":{"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"MISH":{},"PERNUM":{"preselected":true},"WTFINL":{"preselected":true},"CPSIDP":{"preselected":true},"UH_SEX_B1":{},"AGE":{},"SEX":{},"RACE":{}},"download_links":{"spss_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1943573/cps_00015.sps","bytes":3891,"sha256":"32e84b5bce75222f1ac3a3d2d86efa50093c44d4280eca92999be8d8525db758"},"stata_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1943573/cps_00015.do","bytes":7761,"sha256":"22c0a4a6f0a286fe7b61c90c9e6e34d61be777518057214ad731cc1fa5422429"},"data":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1943573/cps_00015.dat.gz","bytes":2440152,"sha256":"a23b17944b5dc635071a3983afb1bae270807b97674bc8e7c422c34c7fe4bd93"},"R_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1943573/cps_00015.R","bytes":406,"sha256":"5c2e34bd192b08a2f0a65b3304cf47bf547ec73e684095a33e35c2238d40b531"},"sas_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1943573/cps_00015.sas","bytes":4042,"sha256":"3b5c94676208ee49eb3be0ac34643107201b4750470ac31aa87b319fea72b300"},"basic_codebook":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1943573/cps_00015.cbk","bytes":5898,"sha256":"5fb2addce8f832f1cc935d4e60b09695676b96c25d858ca60a705a7e4795cdca"},"ddi_codebook":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1943573/cps_00015.xml","bytes":31665,"sha256":"78d619ce2a2eb961c7f28a58f51d28838c852fc4984e09dd56eb982500d10e6d"}},"number":15,"status":"completed"}]'
  recorded_at: 2023-01-20 20:01:48 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/10?collection=cps&version=beta
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0168a8c33945c9c375a74e73172cc612"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps1976_01s":{},"cps1976_02b":{}},"variables":{"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"MISH":{},"PERNUM":{"preselected":true},"WTFINL":{"preselected":true},"CPSIDP":{"preselected":true},"UH_SEX_B1":{},"AGE":{},"SEX":{},"RACE":{}},"download_links":{},"number":10,"status":"completed"}'
  recorded_at: 2023-01-20 20:01:48 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
