http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts?collection=usa&version=2
    body:
      encoding: ''
      string: '{"description":"","dataFormat":"","sampleMembers":{"includeNonRespondents":false,"includeHouseholdMembers":false},"samples":["foo"],"collection":"usa","version":2}'
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["The property ''#/'' did not contain a required property
        of ''dataStructure''.","The property ''#/samples'' of type array did not match
        the following type: object."]}'
  recorded_at: 2024-12-09 22:06:22 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: post
    uri: https://api.ipums.org/extracts?collection=nhgis&version=2
    body:
      encoding: ''
      string: '{"datasets":{"foo":{"dataTables":["bar"],"geogLevels":["baz"]}},"collection":"nhgis","version":2}'
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["Datasets invalid: ''foo''","Data format invalid: '''';
        valid options include ''csv_no_header'', ''csv_header'', ''fixed_width''"]}'
  recorded_at: 2024-12-09 22:06:22 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/foo?collection=nhgis&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain; charset=utf-8
    body:
      encoding: ''
      file: no
      string: Not Found
  recorded_at: 2024-12-09 22:06:22 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
