http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/175?collection=cps&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c3298b86279563005f238c2c68e7f786"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"version":1,"data_structure":{"hierarchical":{}},"data_format":"fixed_width","data_quality_flags":true,"description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps2018_03s":{},"cps2019_03s":{}},"variables":{"RECTYPE":{"preselected":true},"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"ASECFLAG":{"preselected":true},"ASECWTH":{"preselected":true},"PERNUM":{"preselected":true},"CPSIDP":{"preselected":true},"CPSIDV":{"preselected":true},"ASECWT":{"preselected":true},"AGE":{},"SEX":{},"RACE":{},"QAGE":{},"QSEX":{},"QRACE":{}},"number":175,"status":"started","download_links":{"R_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2422502/cps_00175.R","bytes":406,"sha256":"e342956bdd5480f6c3a959772fa16b0e6e9e16f9ea18dd6bc7c955b33791d009"},"basic_codebook":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2422502/cps_00175.cbk","bytes":11815,"sha256":"ec462c9c25b1e795623dcfb5f59f582519746bee462eb085c7479ffb3380c350"},"stata_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2422502/cps_00175.do","bytes":16363,"sha256":"5cd515bca547b12ee2bd0ac94078dd97e15991e329b9ab77c364e89dc8742cd3"},"sas_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2422502/cps_00175.sas","bytes":8004,"sha256":"db4c8eaf8bc55490a10a6a098f9a6d9f269b2d45b5f23f35cc30ec3f0483709d"},"spss_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2422502/cps_00175.sps","bytes":7904,"sha256":"4b4b439a8856dcda853df53704c3ddf0b60a657458b3371c8907f4e90f76e945"},"ddi_codebook":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/2422502/cps_00175.xml","bytes":50988,"sha256":"98f88b99a9c1f8039847286db9087cab9a19928dc7dbd8fd063be5d37004c02a"}},"warnings":["Automatic
        inclusion of data quality flags is unsupported in IPUMS API version 1. Please
        use at least version 2 for access to this feature.","Variable case selection
        is unsupported in IPUMS API version 1. Please use at least version 2 to access
        this feature.","Attaching characteristics is unsupported in IPUMS API version
        1. Please use at least version 2 to access this feature."]}'
  recorded_at: 2024-12-09 22:06:27 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
