http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/90?collection=cps&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"245d5bc604222632d6bf3225de277dd6"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"version":1,"data_structure":{"hierarchical":{}},"data_format":"fixed_width","description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps2018_03s":{},"cps2019_03s":{}},"variables":{"RECTYPE":{},"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"ASECFLAG":{"preselected":true},"ASECWTH":{"preselected":true},"PERNUM":{"preselected":true},"CPSIDP":{"preselected":true},"ASECWT":{"preselected":true},"AGE":{},"SEX":{},"RACE":{},"QAGE":{}},"number":90,"status":"completed","download_links":{},"warnings":["Automatic
        inclusion of data quality flags is unsupported in IPUMS API version 1. Please
        use at least version 2 for access to this feature.","Variable case selection
        is unsupported in IPUMS API version 1. Please use at least version 2 to access
        this feature.","Attaching characteristics is unsupported in IPUMS API version
        1. Please use at least version 2 to access this feature."]}'
  recorded_at: 2023-04-28 15:44:42 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
