http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=usa&version=2
    body:
      encoding: ''
      string: '{"description":"","dataStructure":{},"dataFormat":"","samples":{"foo":{}},"variables":[],"collection":"usa","version":2}'
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["The property ''#/dataStructure'' did not contain a minimum
        number of properties 1.","The property ''#/variables'' of type array did not
        match the following type: object."]}'
  recorded_at: 2023-04-26 18:52:59 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=2
    body:
      encoding: ''
      string: '{"datasets":{"foo":{"dataTables":[null],"geogLevels":[null]}},"collection":"nhgis","version":2}'
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["Datasets invalid: ''foo''","Data format invalid: '''';
        valid options include ''csv_no_header'', ''csv_header'', ''fixed_width''"]}'
  recorded_at: 2023-04-26 18:52:59 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/foo?collection=nhgis&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/plain; charset=utf-8
    body:
      encoding: ''
      file: no
      string: Not Found
  recorded_at: 2023-04-26 18:52:59 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
