http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=foo&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"type":"Bad Request","status":{"code":400,"name":"Collection Query
        Parameter Invalid"},"detail":"The ''collection'' query parameter is invalid.
        Currently, the only valid values are nhgis, ahtus, atus, cps, dhs, highered,
        ipumsi, meps, mics, mtus, napp, nhis, pma, usa"}'
  recorded_at: 2023-04-26 18:26:46 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
