http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/1017?collection=nhgis&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"356372a80bfef8a0a9fb0da748fac396"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"description":"","shapefiles":["110_blck_grp_2019_tl2019"],"number":1017,"status":"started","download_links":{}}'
  recorded_at: 2023-03-16 20:14:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/1017?collection=nhgis&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3ea6ebbf4812dd7603356c09a1f86333"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"description":"","shapefiles":["110_blck_grp_2019_tl2019"],"number":1017,"status":"completed","download_links":{"gis_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1986394/nhgis1017_shape.zip"}}'
  recorded_at: 2023-03-16 20:14:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/nhgis/api/v1/extracts/1986394/nhgis1017_shape.zip
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="nhgis1017_shape.zip"; filename*=UTF-8''nhgis1017_shape.zip
      content-type: application/zip
      etag: '"64137896-7ca81"'
      last-modified: Thu, 16 Mar 2023 20:14:14 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: yes
      string: /Users/robe2037/Documents/projects/ipumsr/tests/fixtures/nhgis1017_shape.zip
  recorded_at: 2023-03-16 20:14:16 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
