http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/468?collection=usa&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"53a9e2dbeeb18c56a6f007ad4dc97243"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":468,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"rCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2422494/usa_00468.R","bytes":406,"sha256":"c14d631be090ce7a83e4b5df07502d00f1bb09b44059178382ef57f03b5a75d2"},"basicCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2422494/usa_00468.cbk","bytes":20450,"sha256":"61ac1c9e578eea10356a73eb0bd64cf762442199ea3e3f244f15ec5a89ce3277"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2422494/usa_00468.dat.gz","bytes":8119,"sha256":"957744690806da7025bb80530b3b709ebd83de197bbb13fa3e0e654184ff9dd4"},"stataCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2422494/usa_00468.do","bytes":27571,"sha256":"77242f10dbf9278da6ec7b1b4be10603c8c0672d837ea807bf9df444e1d237dc"},"sasCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2422494/usa_00468.sas","bytes":15582,"sha256":"b28fe62c13f555af1d868e813f751de48f638e30e1c8d5f567b069cfa3183ed2"},"spssCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2422494/usa_00468.sps","bytes":15991,"sha256":"e0573df349e118118ad07a6db988eaec99aaf66f66e1aa507b54f3e3e32344ab"},"ddiCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2422494/usa_00468.xml","bytes":64070,"sha256":"697fe593e7241f65014d4723f15c496832a3d01369f2631d1564cded89cae074"}},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"households","description":"Test
        USA extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"RACE":{"caseSelections":{"detailed":["801","802"]}}},"collection":"usa"}}'
  recorded_at: 2024-12-09 22:06:40 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: head
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/2422494/usa_00468.xml
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00468.xml"; filename*=UTF-8''usa_00468.xml
      content-transfer-encoding: binary
      content-type: application/xml
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: ''
  recorded_at: 2024-12-09 22:06:40 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/2422494/usa_00468.xml
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00468.xml"; filename*=UTF-8''usa_00468.xml
      content-type: application/xml
      etag: '"675768e9-fa46"'
      last-modified: Mon, 09 Dec 2024 22:02:17 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: yes
      string: ../fixtures/usa_00468.xml
  recorded_at: 2024-12-09 22:06:40 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: head
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/2422494/usa_00468.dat.gz
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00468.dat.gz"; filename*=UTF-8''usa_00468.dat.gz
      content-transfer-encoding: binary
      content-type: application/gzip
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: ''
  recorded_at: 2024-12-09 22:06:40 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
[...]
