http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/49?collection=usa&version=beta
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a4d0711d1b921d74e8a3ae90557de685"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Test
        extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"download_links":{"sas_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1889221/usa_00049.sas","bytes":5986,"sha256":"ac8d571a05c8294672ef60f358797a8e237ebf37435b840d49c18e10c2ec6c41"},"basic_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1889221/usa_00049.cbk","bytes":7325,"sha256":"ee29a436bd355869c5cca284bcbe7d9ce45669128f264b6410170e1e509eb08c"},"spss_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1889221/usa_00049.sps","bytes":5980,"sha256":"ad5aea9cfe617bb6c8846f92b91fa45a07360ef531e3cccfea3f9f6563890444"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1889221/usa_00049.dat.gz","bytes":167521,"sha256":"3e034a707a699ff5136aa76958712d3a05c02dd782b8e573e7545ecaf911318a"},"stata_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1889221/usa_00049.do","bytes":10652,"sha256":"3309944628a8c5638b19cdd66a6a1497d314c26a81ee2fc739de55e59b324e55"},"R_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1889221/usa_00049.R","bytes":406,"sha256":"653c9506b3b682599b0c75dd75d0fc8849ec967e0f596ca6b1898aa0f8d30d3f"},"ddi_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1889221/usa_00049.xml","bytes":35240,"sha256":"e65faf778d20b81abe2e48f4e688aa9b81f8a69b6524840a58802c87e97c7ef5"}},"number":49,"status":"completed"}'
  recorded_at: 2022-10-14 21:40:23 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1889221/usa_00049.xml
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00049.xml"; filename*=UTF-8''usa_00049.xml
      content-type: application/xml
      etag: '"6349d723-89a8"'
      last-modified: Fri, 14 Oct 2022 21:39:47 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00049.xml
  recorded_at: 2022-10-14 21:40:23 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1889221/usa_00049.dat.gz
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00049.dat.gz"; filename*=UTF-8''usa_00049.dat.gz
      content-type: application/gzip
      etag: '"6349d724-28e61"'
      last-modified: Fri, 14 Oct 2022 21:39:48 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00049.dat.gz
  recorded_at: 2022-10-14 21:40:23 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
