http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/243?collection=usa&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"233255cb3ad59eccfc4a8b0430fc8dba"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":243,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"rCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2014033/usa_00243.R","bytes":406,"sha256":"22bd0201d5a5ff43aa3645366713d8dea41d96bdddf168dac38206eb42052f7c"},"basicCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2014033/usa_00243.cbk","bytes":19307,"sha256":"038fb8fc1e9e0dae0563a9cb1bb9d633f8e292277c00a0f995d017a2d9d667e7"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2014033/usa_00243.dat.gz","bytes":7276,"sha256":"99ddd6ab708cdf2ac7229f0e48c5093ba126dd57efb14d40ccd14b2e99d427ef"},"stataCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2014033/usa_00243.do","bytes":25920,"sha256":"fcc5f5acadcbeaee831efd07d17d102ab25d8f963ada1ac1504e577b6316e4e4"},"sasCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2014033/usa_00243.sas","bytes":14716,"sha256":"7012188f296d551a8a7551c19a1ef20a3369055af780fbc79a2c1f1e89981ccb"},"spssCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2014033/usa_00243.sps","bytes":15065,"sha256":"400867280219e69ad2234e67790e6b2fed76a12f4c95a5bd31863f7956effc5e"},"ddiCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2014033/usa_00243.xml","bytes":68513,"sha256":"7682beeb553afdbbbeed4e8a3b627146ab132e42e32706f39d720a7b8cd446cc"}},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Test
        USA extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"RACE":{"caseSelections":{"detailed":["801","802"]}}},"collection":"usa"}}'
  recorded_at: 2023-04-20 19:52:23 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/2014033/usa_00243.xml
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00243.xml"; filename*=UTF-8''usa_00243.xml
      content-type: application/xml
      etag: '"644197cc-10ba1"'
      last-modified: Thu, 20 Apr 2023 19:51:40 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: yes
      string: ../fixtures/usa_00243.xml
  recorded_at: 2023-04-20 19:52:23 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/2014033/usa_00243.dat.gz
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00243.dat.gz"; filename*=UTF-8''usa_00243.dat.gz
      content-type: application/gzip
      etag: '"644197ce-1c6c"'
      last-modified: Thu, 20 Apr 2023 19:51:42 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: yes
      string: ../fixtures/usa_00243.dat.gz
  recorded_at: 2023-04-20 19:52:23 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
