http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts?collection=usa&version=2
    body:
      encoding: ''
      string: '{"description":"Test USA extract","dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","sampleMembers":{"includeNonRespondents":false,"includeHouseholdMembers":false},"samples":{"us2017b":{}},"variables":{"RACE":{"caseSelections":{"detailed":["801","802"]},"preselected":false},"YEAR":{}},"caseSelectWho":"households","collection":"usa","version":2}'
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ba21717547f3904c4c302aaf9c425324"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":470,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"households","description":"Test
        USA extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"RACE":{"caseSelections":{"detailed":["801","802"]}}},"collection":"usa"}}'
  recorded_at: 2024-12-09 22:06:46 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/470?collection=usa&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b3207ce831d39725b1f3e4ae18e7040e"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":470,"status":"started","email":"robe2037@umn.edu","downloadLinks":{"rCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2422507/usa_00470.R","bytes":406,"sha256":"86a2d2c0d0a61a1b3b48b90e1838a41f8658735d4aaad19302ead442eafa0a5a"},"basicCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2422507/usa_00470.cbk","bytes":20450,"sha256":"61ac1c9e578eea10356a73eb0bd64cf762442199ea3e3f244f15ec5a89ce3277"},"stataCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2422507/usa_00470.do","bytes":27571,"sha256":"53c6595a1dcbeaab54014f9dd3549aae7b1321bdeb1623839d807a3bcd89b47f"},"sasCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2422507/usa_00470.sas","bytes":15582,"sha256":"b127fd55344a479c0a39ce817c591dcba9b819a770e662f8b0e74481e1760ff7"},"spssCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2422507/usa_00470.sps","bytes":15991,"sha256":"5165433da4b5bb42f2af42cc93a72d683b12bb321c22d89818a31fc29102bd89"},"ddiCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2422507/usa_00470.xml","bytes":64070,"sha256":"6234bfaaecdc7278ca2159daa6b54533dcd92c39dc95677fc699205e229f2286"}},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"households","description":"Test
        USA extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true},"RACE":{"caseSelections":{"detailed":["801","802"]}}},"collection":"usa"}}'
  recorded_at: 2024-12-09 22:06:46 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
