http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/1091?collection=nhgis&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"01676b97fbbf38fafacfa582aae3385f"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data_format":"csv_no_header","description":"Extract for R client
        testing","datasets":{"2014_2018_ACS5a":{"data_tables":["B01001","B01002"],"geog_levels":["nation"],"breakdown_values":["bs32.ge00"]},"2015_2019_ACS5a":{"data_tables":["B01001","B01002"],"geog_levels":["blck_grp"],"breakdown_values":["bs32.ge00"]}},"time_series_tables":{"CW3":{"geog_levels":["state"]}},"time_series_table_layout":"time_by_row_layout","shapefiles":["110_blck_grp_2019_tl2019"],"geographic_extents":["110","420"],"breakdown_and_data_type_layout":"single_file","number":1091,"status":"completed","download_links":{"codebook_preview":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1992256/nhgis1091_csv_PREVIEW.zip","table_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1992256/nhgis1091_csv.zip","gis_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1992256/nhgis1091_shape.zip"}}'
  recorded_at: 2023-03-23 20:05:12 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/nhgis/api/v1/extracts/1992256/nhgis1091_csv.zip
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="nhgis1091_csv.zip"; filename*=UTF-8''nhgis1091_csv.zip
      content-type: application/zip
      etag: '"641caf19-16293f"'
      last-modified: Thu, 23 Mar 2023 19:57:13 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: yes
      string: ../fixtures/nhgis1091_csv.zip
  recorded_at: 2023-03-23 20:05:12 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/nhgis/api/v1/extracts/1992256/nhgis1091_shape.zip
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="nhgis1091_shape.zip"; filename*=UTF-8''nhgis1091_shape.zip
      content-type: application/zip
      etag: '"641caecb-7ca81"'
      last-modified: Thu, 23 Mar 2023 19:55:55 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: yes
      string: ../fixtures/nhgis1091_shape.zip
  recorded_at: 2023-03-23 20:05:12 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
