http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/207?collection=usa&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d76415b44cc58eb1f504ff66f60eda49"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":207,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"stataCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002402/usa_00207.do","bytes":10917,"sha256":"9dd9f020f71b738454ceca911075d1509faed303665e6380e0bc6582626aeee3"},"rCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002402/usa_00207.R","bytes":406,"sha256":"e8aa2221d0ca2ed524250df378e73108907a946f59fb8e5bbbed10ff9a2c401d"},"basicCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002402/usa_00207.cbk","bytes":7494,"sha256":"e08c06a8c2e5cd9b8a527694dc96ab8d862c066d7edb76a1f427d79536a3560f"},"ddiCodebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002402/usa_00207.xml","bytes":35770,"sha256":"4294cb8b9bf22c87d49c3dfa7fbd501937a3fe9320ae950dbfa2f1b2c9a4356b"},"spssCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002402/usa_00207.sps","bytes":6122,"sha256":"d45eaee71a95a17bb7f9ef101a382cdcb23c329deca0a9e348d8a5283a2b3a26"},"sasCommandFile":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002402/usa_00207.sas","bytes":6118,"sha256":"aba9e4901a216259ab5b2e8b7744c3a5698ea0531f4c454e1fc283dcff00cd7e"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/2002402/usa_00207.dat.gz","bytes":167521,"sha256":"3e034a707a699ff5136aa76958712d3a05c02dd782b8e573e7545ecaf911318a"}},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Test
        extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"collection":"usa"}}'
  recorded_at: 2023-04-06 22:51:32 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/2002402/usa_00207.xml
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00207.xml"; filename*=UTF-8''usa_00207.xml
      content-type: application/xml
      etag: '"642f484f-8bba"'
      last-modified: Thu, 06 Apr 2023 22:31:43 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: yes
      string: ../fixtures/usa_00207.xml
  recorded_at: 2023-04-06 22:51:32 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/2002402/usa_00207.dat.gz
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00207.dat.gz"; filename*=UTF-8''usa_00207.dat.gz
      content-type: application/gzip
      etag: '"642f4851-28e61"'
      last-modified: Thu, 06 Apr 2023 22:31:45 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: yes
      string: ../fixtures/usa_00207.dat.gz
  recorded_at: 2023-04-06 22:51:32 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
