http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/1094?collection=nhgis&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"f808442cb64080c0e114f845a0adde0e"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"description":"","shapefiles":["110_blck_grp_2019_tl2019"],"number":1094,"status":"started","download_links":{}}'
  recorded_at: 2023-03-23 20:06:35 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/1094?collection=nhgis&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"b577a28bcb9f082bde9f1026983eb2de"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"description":"","shapefiles":["110_blck_grp_2019_tl2019"],"number":1094,"status":"completed","download_links":{"gis_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1992273/nhgis1094_shape.zip"}}'
  recorded_at: 2023-03-23 20:06:35 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/nhgis/api/v1/extracts/1992273/nhgis1094_shape.zip
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="nhgis1094_shape.zip"; filename*=UTF-8''nhgis1094_shape.zip
      content-type: application/zip
      etag: '"641cb149-7ca81"'
      last-modified: Thu, 23 Mar 2023 20:06:33 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: yes
      string: ../fixtures/nhgis1094_shape.zip
  recorded_at: 2023-03-23 20:06:35 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
