http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/28?collection=usa&version=beta
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"fb8e963e2e55511a7d7275588f9e3f56"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Test
        extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"download_links":{"sas_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1805393/usa_00028.sas","bytes":5915,"sha256":"adf5a3f6f410c4208b208f70c1cf243732dc8b4de6419684087baecf2de1f6a7"},"spss_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1805393/usa_00028.sps","bytes":5905,"sha256":"2d1ea335b912b462f3b1eb959636f19a5de948c5d9fc7297bbdfa9f0728af54f"},"basic_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1805393/usa_00028.cbk","bytes":7150,"sha256":"0c7dfedb266b3f1bd7b6e9a92c040573b871272d5b7a82e6f2b05446bc0db40b"},"ddi_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1805393/usa_00028.xml","bytes":35046,"sha256":"08c2952d294a8518fb54d436675b0d01996ed587ea51749928c8d93b2db470ac"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1805393/usa_00028.dat.gz","bytes":167521,"sha256":"3e034a707a699ff5136aa76958712d3a05c02dd782b8e573e7545ecaf911318a"},"stata_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1805393/usa_00028.do","bytes":10527,"sha256":"91c8f5256e1ec8d1efe2da08da0f5011500dbb06f9335fb13a0d10da7344845c"},"R_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1805393/usa_00028.R","bytes":406,"sha256":"b36eda7cfb4bfc4e984ff53b218f4ff46b4ac3396d36227fe85cebb2b2647c47"}},"number":28,"status":"completed"}'
  recorded_at: 2022-04-28 21:20:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1805393/usa_00028.xml
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00028.xml"; filename*=UTF-8''usa_00028.xml
      content-type: application/xml
      etag: '"626b04ff-88e6"'
      last-modified: Thu, 28 Apr 2022 21:19:59 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00028.xml
  recorded_at: 2022-04-28 21:20:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1805393/usa_00028.dat.gz
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00028.dat.gz"; filename*=UTF-8''usa_00028.dat.gz
      content-type: application/gzip
      etag: '"626b0503-28e61"'
      last-modified: Thu, 28 Apr 2022 21:20:03 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00028.dat.gz
  recorded_at: 2022-04-28 21:20:52 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
