http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/458?collection=nhgis&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d0908b8fe3a663082f03e1d5d961653d"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"number":458,"data_format":"csv_header","description":"Extract for
        R client testing","status":"completed","download_links":{"codebook_preview":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1786709/nhgis0458_csv_PREVIEW.zip","table_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1786709/nhgis0458_csv.zip","gis_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1786709/nhgis0458_shape.zip"},"datasets":{"2014_2018_ACS5a":{"data_tables":["B01001","B01002"],"geog_levels":["nation"],"breakdown_values":["bs32.ge00"]},"2015_2019_ACS5a":{"data_tables":["B01001","B01002"],"geog_levels":["blck_grp"],"breakdown_values":["bs32.ge00"]}},"time_series_tables":{"CW3":{"geog_levels":["state"]}},"time_series_table_layout":"time_by_row_layout","shapefiles":["110_blck_grp_2019_tl2019"],"geographic_extents":["110","420"],"breakdown_and_data_type_layout":"separate_files"}'
  recorded_at: 2022-04-07 15:51:56 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/nhgis/api/v1/extracts/1786709/nhgis0458_csv.zip
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="nhgis0458_csv.zip"; filename*=UTF-8''nhgis0458_csv.zip
      content-type: application/zip
      etag: '"624f07e0-180de4"'
      last-modified: Thu, 07 Apr 2022 15:48:48 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/nhgis0458_csv.zip
  recorded_at: 2022-04-07 15:51:56 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/nhgis/api/v1/extracts/1786709/nhgis0458_shape.zip
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="nhgis0458_shape.zip"; filename*=UTF-8''nhgis0458_shape.zip
      content-type: application/zip
      etag: '"624f0742-7ca95"'
      last-modified: Thu, 07 Apr 2022 15:46:10 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/nhgis0458_shape.zip
  recorded_at: 2022-04-07 15:51:56 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
