http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/26?collection=usa&version=beta
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"715fc2fd7871f24f5e9002228265752d"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Test
        extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"download_links":{"spss_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1786733/usa_00026.sps","bytes":5905,"sha256":"6462257aab824a2b4afadb98745aaf4d519db09b1448d59f93495927672be86d"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1786733/usa_00026.dat.gz","bytes":167521,"sha256":"3e034a707a699ff5136aa76958712d3a05c02dd782b8e573e7545ecaf911318a"},"stata_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1786733/usa_00026.do","bytes":10527,"sha256":"6b76847d54ddb32135da6a1b7996382258d280253c7fdef2a8b80a2adb5888ea"},"ddi_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1786733/usa_00026.xml","bytes":35044,"sha256":"0c9381e0f5434198604bd64b64fb37adbe36b31a8ca9bc3033310a25c564af3a"},"sas_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1786733/usa_00026.sas","bytes":5915,"sha256":"04f95578b3959c01f0098e43a0191bd0f2695150bfe4614130ce757418164f55"},"R_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1786733/usa_00026.R","bytes":406,"sha256":"2650404c679407d4ebbfbcad9ac7da01d019942cdf9303fd43811a79098a0e44"},"basic_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1786733/usa_00026.cbk","bytes":7150,"sha256":"0c7dfedb266b3f1bd7b6e9a92c040573b871272d5b7a82e6f2b05446bc0db40b"}},"number":26,"status":"completed"}'
  recorded_at: 2022-04-07 16:08:56 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1786733/usa_00026.xml
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00026.xml"; filename*=UTF-8''usa_00026.xml
      content-type: application/xml
      etag: '"624f0c90-88e4"'
      last-modified: Thu, 07 Apr 2022 16:08:48 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00026.xml
  recorded_at: 2022-04-07 16:08:56 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1786733/usa_00026.dat.gz
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00026.dat.gz"; filename*=UTF-8''usa_00026.dat.gz
      content-type: application/gzip
      etag: '"624f0c92-28e61"'
      last-modified: Thu, 07 Apr 2022 16:08:50 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00026.dat.gz
  recorded_at: 2022-04-07 16:08:56 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
