http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/843?collection=nhgis&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"0aaf7ad5380c124e2cedd0228ffcc8bb"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"number":843,"data_format":null,"description":"","status":"started","download_links":null,"datasets":null,"time_series_tables":null,"time_series_table_layout":null,"shapefiles":["110_blck_grp_2019_tl2019"],"geographic_extents":null,"breakdown_and_data_type_layout":null}'
  recorded_at: 2023-01-04 16:47:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/843?collection=nhgis&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e4a875c2bd95abc494fa15bc37e533fc"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"number":843,"data_format":null,"description":"","status":"completed","download_links":{"gis_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1938156/nhgis0843_shape.zip"},"datasets":null,"time_series_tables":null,"time_series_table_layout":null,"shapefiles":["110_blck_grp_2019_tl2019"],"geographic_extents":null,"breakdown_and_data_type_layout":null}'
  recorded_at: 2023-01-04 16:47:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/nhgis/api/v1/extracts/1938156/nhgis0843_shape.zip
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="nhgis0843_shape.zip"; filename*=UTF-8''nhgis0843_shape.zip
      content-type: application/zip
      etag: '"63b5adad-7ca95"'
      last-modified: Wed, 04 Jan 2023 16:47:41 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: /Users/robe2037/Documents/projects/ipumsr/tests/fixtures/nhgis0843_shape.zip
  recorded_at: 2023-01-04 16:47:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
