http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/122?collection=usa&version=beta
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"17337f448babf32af367c39081a953a9"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"version":1,"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Test
        extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"number":122,"status":"completed","download_links":{"ddi_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1986397/usa_00122.xml","bytes":35772,"sha256":"c845423bee4d14266988cd5e3068566f833e8a1170d1b75a4780b3850d17e365"},"R_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1986397/usa_00122.R","bytes":406,"sha256":"fdb5a8e503102e52a2b542d43a74985df0355fb5d9c433685fabbd8b8c46d1eb"},"basic_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1986397/usa_00122.cbk","bytes":7494,"sha256":"e08c06a8c2e5cd9b8a527694dc96ab8d862c066d7edb76a1f427d79536a3560f"},"spss_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1986397/usa_00122.sps","bytes":6122,"sha256":"bfe5037d92bc167e9c1b2d9243b6d490ae6011f9c5291ff78ec1cfe484cbb470"},"stata_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1986397/usa_00122.do","bytes":10917,"sha256":"866f4b203fbb1ce76e777d95a112d6a4cf66741f7e237c40dc76e7203143254f"},"sas_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1986397/usa_00122.sas","bytes":6118,"sha256":"bbb5e402ec6604ecfe2916c056d38940ade0b199f5d48a81efa79c1663e1f1e9"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1986397/usa_00122.dat.gz","bytes":167521,"sha256":"3e034a707a699ff5136aa76958712d3a05c02dd782b8e573e7545ecaf911318a"}}}'
  recorded_at: 2023-03-16 20:16:53 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1986397/usa_00122.xml
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00122.xml"; filename*=UTF-8''usa_00122.xml
      content-type: application/xml
      etag: '"641378ab-8bbc"'
      last-modified: Thu, 16 Mar 2023 20:14:35 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: yes
      string: ../fixtures/usa_00122.xml
  recorded_at: 2023-03-16 20:16:53 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1986397/usa_00122.dat.gz
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00122.dat.gz"; filename*=UTF-8''usa_00122.dat.gz
      content-type: application/gzip
      etag: '"641378ad-28e61"'
      last-modified: Thu, 16 Mar 2023 20:14:37 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: yes
      string: ../fixtures/usa_00122.dat.gz
  recorded_at: 2023-03-16 20:16:53 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
