http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/39?collection=usa&version=beta
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ec8ecff7718b575ef58b77f0baa11b63"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Test
        extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"download_links":{"ddi_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1834308/usa_00039.xml","bytes":35234,"sha256":"236ed797e3517a3719b8e76b67b2dec65550dcf16fd4de69646acebcf0c390c2"},"R_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1834308/usa_00039.R","bytes":406,"sha256":"6b7b83c0bd593557d4de21771edb64602ad4339647c985e2db6bcf36750962b2"},"sas_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1834308/usa_00039.sas","bytes":5986,"sha256":"487902ff856928a88738a4ceb9d17096a5efcf11513c5e2fe9fe2ec99b3dd458"},"basic_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1834308/usa_00039.cbk","bytes":7235,"sha256":"c219458f28a3b74da606355bf6ca261bbd146f9b485f9e57a5184fe0cf8a73e3"},"stata_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1834308/usa_00039.do","bytes":10652,"sha256":"94f0631d834c61a736738ca096a52bf2b22f4adb7e273968355278d21f223022"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1834308/usa_00039.dat.gz","bytes":167521,"sha256":"3e034a707a699ff5136aa76958712d3a05c02dd782b8e573e7545ecaf911318a"},"spss_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1834308/usa_00039.sps","bytes":5980,"sha256":"c82bc3b4379c7b3996834dafb9f32f4ea021c27cc64edbea1af572465184f250"}},"number":39,"status":"completed"}'
  recorded_at: 2022-06-24 19:30:18 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1834308/usa_00039.xml
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00039.xml"; filename*=UTF-8''usa_00039.xml
      content-type: application/xml
      etag: '"62b61095-89a2"'
      last-modified: Fri, 24 Jun 2022 19:29:25 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00039.xml
  recorded_at: 2022-06-24 19:30:18 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1834308/usa_00039.dat.gz
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00039.dat.gz"; filename*=UTF-8''usa_00039.dat.gz
      content-type: application/gzip
      etag: '"62b61097-28e61"'
      last-modified: Fri, 24 Jun 2022 19:29:27 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00039.dat.gz
  recorded_at: 2022-06-24 19:30:18 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
