http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/48?collection=usa&version=beta
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"840f84efedf46bf766f5138ce2851611"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Test
        extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"download_links":{"sas_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1885610/usa_00048.sas","bytes":5986,"sha256":"82b273b27576ff3425c0deff144837be5feb4369bd2641506542b360c364238e"},"basic_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1885610/usa_00048.cbk","bytes":7325,"sha256":"ee29a436bd355869c5cca284bcbe7d9ce45669128f264b6410170e1e509eb08c"},"ddi_codebook":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1885610/usa_00048.xml","bytes":35240,"sha256":"29d92d45d5c7787b7ec6f91d12261592508eb0ec57670097092c747315dcb265"},"data":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1885610/usa_00048.dat.gz","bytes":167521,"sha256":"3e034a707a699ff5136aa76958712d3a05c02dd782b8e573e7545ecaf911318a"},"stata_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1885610/usa_00048.do","bytes":10652,"sha256":"faad4dd4d854c76e73bcb2f8fd525bb2111e6c59b6cbd5166c099e0244e2a191"},"R_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1885610/usa_00048.R","bytes":406,"sha256":"54a9abb55b0295b89e5d3c0832540761e98af407f842bdd10c99204fe876b442"},"spss_command_file":{"url":"https://api.ipums.org/downloads/usa/api/v1/extracts/1885610/usa_00048.sps","bytes":5980,"sha256":"8cd4b007c422da34e34ba0dfd4e68a6cb16b0865ca1d9a29c4bebbaf00ae51cb"}},"number":48,"status":"completed"}'
  recorded_at: 2022-10-11 14:20:19 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1885610/usa_00048.xml
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00048.xml"; filename*=UTF-8''usa_00048.xml
      content-type: application/xml
      etag: '"63457b94-89a8"'
      last-modified: Tue, 11 Oct 2022 14:20:04 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00048.xml
  recorded_at: 2022-10-11 14:20:19 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/downloads/usa/api/v1/extracts/1885610/usa_00048.dat.gz
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-disposition: attachment; filename="usa_00048.dat.gz"; filename*=UTF-8''usa_00048.dat.gz
      content-type: application/gzip
      etag: '"63457b95-28e61"'
      last-modified: Tue, 11 Oct 2022 14:20:05 GMT
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: yes
      string: ../fixtures/usa_00048.dat.gz
  recorded_at: 2022-10-11 14:20:19 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
