http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=usa&version=2
    body:
      encoding: ''
      string: '{"description":"Test extract","dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","samples":{"us2017b":{}},"variables":{"YEAR":{}},"collection":"usa","version":2}'
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"00d99d81dca08e8a99e5174d88a07acc"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":266,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Test
        extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"collection":"usa"}}'
  recorded_at: 2023-04-26 18:02:56 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/266?collection=usa&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"00d99d81dca08e8a99e5174d88a07acc"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":266,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"P"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Test
        extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"GQ":{"preselected":true},"PERNUM":{"preselected":true},"PERWT":{"preselected":true}},"collection":"usa"}}'
  recorded_at: 2023-04-26 18:02:56 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
