http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts?collection=atus&version=2&pageNumber=1&pageSize=30
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"bd0e7cbe4c02a7b5904a7c87facd2f56"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"number":41,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"rCommandFile":{"url":"https://api.ipums.org/downloads/atus/api/v1/extracts/2422496/atus_00041.R","bytes":407,"sha256":"91c0c47ad5a79b8d4645cdec7b62176ed231fdc96a0345ef90fa4534065b6f00"},"basicCodebook":{"url":"https://api.ipums.org/downloads/atus/api/v1/extracts/2422496/atus_00041.cbk","bytes":9564,"sha256":"a3aaeb59eb1e3844eb4fd35e6ce92edaa3bbe3bd142f8360c51a8f9ee3c8e5dd"},"data":{"url":"https://api.ipums.org/downloads/atus/api/v1/extracts/2422496/atus_00041.dat.gz","bytes":1340693,"sha256":"8fba4a9cc35d51d122dd49b8915fc511181c8b305d61290886f2d5c225ee80bc"},"stataCommandFile":{"url":"https://api.ipums.org/downloads/atus/api/v1/extracts/2422496/atus_00041.do","bytes":9391,"sha256":"8d84f8c69065042fa198009f2c4ad52e491330c8e03aa93198a9d125b0a0ce43"},"sasCommandFile":{"url":"https://api.ipums.org/downloads/atus/api/v1/extracts/2422496/atus_00041.sas","bytes":5265,"sha256":"3290d9b800824a5e859f050a5d5fa53edee26e2f080bc2be5a5aab8d8ad815eb"},"spssCommandFile":{"url":"https://api.ipums.org/downloads/atus/api/v1/extracts/2422496/atus_00041.sps","bytes":4921,"sha256":"d3e7e71590b0fed05e736d64f15e37c9a1a405cff683dfbfa4bb2d0cf86bd23b"},"ddiCodebook":{"url":"https://api.ipums.org/downloads/atus/api/v1/extracts/2422496/atus_00041.xml","bytes":34869,"sha256":"07295c09855f2c046adb0d5df3486ea6ad398cbd408e98749412469d7b3b0fd2"}},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Test
        ATUS extract","samples":{"at2020":{},"at2021":{}},"variables":{"RECTYPE":{"preselected":true},"YEAR":{"preselected":true},"CASEID":{"preselected":true},"SERIAL":{"preselected":true},"STATEFIP":{},"PERNUM":{"preselected":true},"LINENO":{"preselected":true},"WT06":{"preselected":true},"WT20":{"preselected":true},"AGE":{"dataQualityFlags":true,"attachedCharacteristics":["spouse","mother","mother2","father","father2"]},"SEX":{},"DIFFANY":{},"RELATER":{}},"timeUseVariables":{"ACT_PCARE":{},"screentime":{"owner":"robe2037@umn.edu"}},"sampleMembers":{"includeNonRespondents":true,"includeHouseholdMembers":true},"collection":"atus"}},{"number":40,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"rCommandFile":{"url":"https://api.ipums.org/downloads/atus/api/v1/extracts/2422349/atus_00040.R","bytes":407,"sha256":"ac45b2d1ba2f5ce2877f708a96a58f138e79f6a21badca0554d260084d8ea496"},"basicCodebook":{"url":"https://api.ipums.org/downloads/atus/api/v1/extracts/2422349/atus_00040.cbk","bytes":9564,"sha256":"a3aaeb59eb1e3844eb4fd35e6ce92edaa3bbe3bd142f8360c51a8f9ee3c8e5dd"},"data":{"url":"https://api.ipums.or[...]
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=atus&pageNumber=2&pageSize=30&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"19f16853a22f57c053355b0f45186abe"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"number":11,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"rectangular":{"on":"A"}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Testing
        API","samples":{"at2021":{}},"variables":{"YEAR":{"preselected":true},"CASEID":{"preselected":true},"SERIAL":{"preselected":true},"PERNUM":{"preselected":true},"LINENO":{"preselected":true},"WT06":{"preselected":true},"MARST":{},"ACTIVITY":{}},"collection":"atus"}},{"number":10,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Revision
        of 00009","samples":{"at2022":{}},"variables":{"RECTYPE":{"preselected":true},"YEAR":{"preselected":true},"CASEID":{"preselected":true},"SERIAL":{"preselected":true},"REGION":{},"STATEFIP":{},"METRO":{},"MSASIZE":{},"METAREA":{},"COUNTY":{},"PERNUM":{"preselected":true},"LINENO":{"preselected":true},"DAY":{},"DATE":{},"WT06":{"preselected":true},"AGE":{},"SEX":{},"RACE":{},"MARST":{},"SCHLCOLL":{},"EMPSTAT":{},"SPOUSEPRES":{},"ACTLINE":{"preselected":true},"ACTIVITY":{},"WHERE":{},"DURATION_EXT":{},"DURATION":{},"START":{},"STOP":{}},"collection":"atus"}},{"number":9,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"","samples":{"at2022":{}},"variables":{"RECTYPE":{"preselected":true},"YEAR":{"preselected":true},"CASEID":{"preselected":true},"SERIAL":{"preselected":true},"REGION":{},"STATEFIP":{},"METRO":{},"MSASIZE":{},"METAREA":{},"COUNTY":{},"PERNUM":{"preselected":true},"LINENO":{"preselected":true},"WT06":{"preselected":true},"AGE":{},"SEX":{},"RACE":{},"MARST":{},"SCHLCOLL":{},"EMPSTAT":{},"SPOUSEPRES":{},"ACTLINE":{"preselected":true},"ACTIVITY":{},"WHERE":{},"DURATION_EXT":{},"DURATION":{},"START":{},"STOP":{}},"collection":"atus"}},{"number":8,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Changed
        years","samples":{"at2006":{},"at2017":{}},"variables":{"RECTYPE":{"preselected":true},"YEAR":{"preselected":true},"CASEID":{"preselected":true},"ACTLINEW":{"preselected":true},"ACTLINE":{"preselected":true},"LINENOW":{},"PERNUM":{"preselected":true},"WHOLINE":{},"LINENO":{"preselected":true},"ACTIVITY":{},"RELATEW":{},"AGEW":{},"SEXW":{},"WHERE":{},"DURATION":{},"DAY":{},"DATE":{},"WT06":{"preselected":true},"COUNTY":{},"HH_SIZE":{},"HH_NUMKIDS":{},"HH_NUMADULTS":{},"START":{},"STOP":{},"AGE":{},"SEX":{},"RACE":{},"MARST":{},"EDUCYRS":{},"SCHLCOLL":{},"EMPSTAT":{},"RETIRED":{}},"collection":"atus"}},{"number":7,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Add
        education info to last extract","samples":{"at2015":{},"at2016":{},"at2017":{},"at2018":{},"at2019":{}},"variables":{"RECTYPE":{"preselected":true},"YEAR":{"preselected":true},"CASEID":{"preselected":true},"ACTLINEW":{"preselected":true},"ACTLINE":{"preselected":true},"LINENOW":{},"PERNUM":{"preselected":true},"WHOLINE":{},"LINENO":{"preselected":true},"ACTIVITY":{},"RELATEW":{},"AGEW":{},"SEXW":{},"WHERE":{},"DURATION":{},"DAY":{},"DATE":{},"WT06":{"preselected":true},"COUNTY":{},"HH_SIZE":{},"HH_NUMKIDS":{},"HH_NUMADULTS":{},"START":{},"STOP":{},"AGE":{},"SEX":{},"RACE":{},"MARST":{},"EDUCYRS":{},"SCHLCOLL":{},"EMPSTAT":{},"RETIRED":{}},"collection":"atus"}},{"number":6,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"added
        date and day of week to previous extract","samples":{"at2015":{},"at2016":{},"at2017":{},"at2018":{},"at2019":{}},"variables":{"RECTYPE":{"preselected":true},"YEAR":{"preselected":true},"CASEID":{"preselected":true},"ACTLINEW":{"preselected":true},"ACTLINE":{"preselected":true},"LINENOW":{},"PERNUM":{"preselected":true},"WHOLINE":{},"LINENO":{"preselected":true},"ACTIVITY":{},"RELATEW":{},"AGEW":{},"SEXW":{},"WHERE":{},"DURATION":{},"DAY":{},"DATE":{},"WT06":{"preselected":true},"COUNTY":{},"HH_SIZE":{},"HH_NUMKIDS":{},"HH_NUMADULTS":{},"START":{},"STOP":{},"AGE":{},"SEX":{},"RACE":{},"MARST":{},"EMPSTAT":{},"OCC2":{},"IND2":{}},"collection":"atus"}},{"number":5,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"info
        for individual activities","samples":{"at2015":{},"at2016":{},"at2017":{},"at2018":{},"at2019":{}},"variables":{"RECTYPE":{"preselected":true},"YEAR":{"preselected":true},"CASEID":{"preselected":true},"ACTLINEW":{"preselected":true},"ACTLINE":{"preselected":true},"LINENOW":{},"PERNUM":{"preselected":true},"WHOLINE":{},"LINENO":{"preselected":true},"ACTIVITY":{},"RELATEW":{},"AGEW":{},"SEXW":{},"WHERE":{},"DURATION":{},"WT06":{"preselected":true},"COUNTY":{},"HH_SIZE":{},"HH_NUMKIDS":{},"HH_NUMADULTS":{},"START":{},"STOP":{},"AGE":{},"SEX":{},"RACE":{},"MARST":{},"EMPSTAT":{},"MULTJOBS":{},"OCC2":{},"IND2":{},"WRKSCHEDUS":{},"WRKDAYSAVG":{},"WRKHOMEABLE":{},"WRKHOMEOFTEN":{}},"collection":"atus"}},{"number":4,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Revision
        of (Revision of 00002)","samples":{"at2015":{},"at2016":{},"at2017":{},"at2018":{},"at2019":{}},"variables":{"RECTYPE":{"preselected":true},"YEAR":{"preselected":true},"CASEID":{"preselected":true},"ACTLINEW":{"preselected":true},"ACTLINE":{"preselected":true},"LINENOW":{},"PERNUM":{"preselected":true},"WHOLINE":{},"LINENO":{"preselected":true},"RELATEW":{},"AGEW":{},"SEXW":{},"WT06":{"preselected":true},"COUNTY":{},"HH_SIZE":{},"HH_NUMKIDS":{},"HH_NUMADULTS":{},"AGE":{},"SEX":{},"RACE":{},"MARST":{},"EMPSTAT":{},"MULTJOBS":{},"OCC2":{},"IND2":{},"WRKSCHEDUS":{},"WRKDAYSAVG":{},"WRKHOMEABLE":{},"WRKHOMEOFTEN":{}},"timeUseVariables":{"ACT_PCARE":{"owner":"robe2037@umn.edu"},"ACT_HHACT":{"owner":"robe2037@umn.edu"},"ACT_CAREHH":{"owner":"robe2037@umn.edu"},"ACT_CARENHH":{"owner":"robe2037@umn.edu"},"ACT_WORK":{"owner":"robe2037@umn.edu"},"ACT_EDUC":{"owner":"robe2037@umn.edu"},"ACT_PURCH":{"owner":"robe2037@umn.edu"},"ACT_PROFSERV":{"owner":"robe2037@umn.edu"},"ACT_HHSERV":{"owner":"robe2037@umn.edu"},"ACT_GOVSERV":{"owner":"robe2037@umn.edu"},"ACT_FOOD":{"owner":"robe2037@umn.edu"},"ACT_SOCIAL":{"owner":"robe2037@umn.edu"},"ACT_SPORTS":{"owner":"robe2037@umn.edu"},"ACT_RELIG":{"owner":"robe2037@umn.edu"},"ACT_VOL":{"owner":"robe2037@umn.edu"},"ACT_PHONE":{"owner":"robe2037@umn.edu"},"ACT_TRAVEL":{"owner":"robe2037@umn.edu"}},"collection":"atus"}},{"number":3,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Revision
        of 00002","samples":{"at2003":{},"at2004":{},"at2005":{},"at2006":{},"at2007":{},"at2008":{},"at2009":{},"at2010":{},"at2011":{},"at2012":{},"at2013":{},"at2014":{},"at2015":{},"at2016":{},"at2017":{},"at2018":{},"at2019":{}},"variables":{"RECTYPE":{"preselected":true},"YEAR":{"preselected":true},"CASEID":{"preselected":true},"ACTLINEW":{"preselected":true},"ACTLINE":{"preselected":true},"LINENOW":{},"PERNUM":{"preselected":true},"WHOLINE":{},"LINENO":{"preselected":true},"RELATEW":{},"AGEW":{},"SEXW":{},"WT06":{"preselected":true},"COUNTY":{},"HH_SIZE":{},"HH_NUMKIDS":{},"HH_NUMADULTS":{},"AGE":{},"SEX":{},"RACE":{},"MARST":{},"EMPSTAT":{},"MULTJOBS":{}[...]
