http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/357?collection=nhgis&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"94223fd41c4b4df652d6bd4a4dd76cfc"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"number":357,"data_format":"csv_header","description":"Extract for
        R client testing","status":"completed","download_links":{"codebook_preview":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1753019/nhgis0357_csv_PREVIEW.zip","table_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1753019/nhgis0357_csv.zip","gis_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1753019/nhgis0357_shape.zip"},"datasets":{"2015_2019_ACS5a":{"data_tables":["B01001","B01002","B15003"],"geog_levels":["blck_grp"],"breakdown_values":["bs32.ge00"]}},"time_series_tables":{"CW3":{"geog_levels":["county"]}}}'
  recorded_at: 2022-02-16 19:11:22 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
