http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/1436?collection=nhgis&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3c8538deb95561563c6cbc49d79700a6"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":1436,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"codebookPreview":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2422497/nhgis1436_csv_PREVIEW.zip","bytes":8662,"sha256":null},"tableData":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2422497/nhgis1436_csv.zip","bytes":166931,"sha256":null},"gisData":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2422497/nhgis1436_shape.zip","bytes":510613,"sha256":null}},"extractDefinition":{"dataFormat":"csv_no_header","description":"Extract
        for R client testing","datasets":{"2014_2018_ACS5a":{"dataTables":["B01001","B01002"],"geogLevels":["nation"],"breakdownValues":["bs32.ge00"]},"2015_2019_ACS5a":{"dataTables":["B01001","B01002"],"geogLevels":["blck_grp"],"breakdownValues":["bs32.ge00"]}},"timeSeriesTables":{"CW3":{"geogLevels":["state"],"years":["1990"]}},"timeSeriesTableLayout":"time_by_row_layout","shapefiles":["110_blck_grp_2019_tl2019"],"geographicExtents":["100","110"],"breakdownAndDataTypeLayout":"single_file","version":2,"collection":"nhgis"}}'
  recorded_at: 2024-12-09 22:04:11 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
