http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/tabulation_geographies?collection=ihgis&version=2&pageNumber=1&pageSize=2500
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"012c48c70518d31718492f5ecc87c9a5"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: "{\"data\":[{\"name\":\"AE2005pop.g0\",\"label\":\"Nation\",\"hierarchicalLevel\":\"g0\",\"meanPopulation\":4106427,\"meanArea\":70748.5,\"sequence\":1,\"unitCount\":1},{\"name\":\"AE2005pop.g1\",\"label\":\"Emirates\",\"hierarchicalLevel\":\"g1\",\"meanPopulation\":586632,\"meanArea\":10106.9,\"sequence\":2,\"unitCount\":7},{\"name\":\"AL2001pop.g0\",\"label\":\"Nation\",\"hierarchicalLevel\":\"g0\",\"meanPopulation\":3069275,\"meanArea\":28671.4,\"sequence\":1,\"unitCount\":1},{\"name\":\"AL2001pop.g1\",\"label\":\"Prefectures\",\"hierarchicalLevel\":\"g1\",\"meanPopulation\":85258,\"meanArea\":796.4,\"sequence\":2,\"unitCount\":36},{\"name\":\"AL2012ag.g0[...]
