http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/377?collection=nhgis&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"58ba9ba9aaaa90cc92666e547a5e099d"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"number":377,"data_format":"csv_header","description":"Extract for
        R client testing","status":"completed","download_links":{"codebook_preview":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1777272/nhgis0377_csv_PREVIEW.zip","table_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1777272/nhgis0377_csv.zip","gis_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1777272/nhgis0377_shape.zip"},"datasets":{"2015_2019_ACS5a":{"data_tables":["B01001","B01002","B15003"],"geog_levels":["nation","blck_grp"],"breakdown_values":["bs32.ge00"]}},"time_series_tables":{"CW3":{"geog_levels":["county"]}}}'
  recorded_at: 2022-03-25 20:44:43 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
