http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=usa&version=beta
    body:
      encoding: ''
      string: '{"description":"","data_structure":{},"data_format":"","samples":{"foo":{}},"variables":[]}'
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["The property ''#/data_structure'' did not contain a minimum
        number of properties 1.","The property ''#/variables'' of type array did not
        match the following type: object."]}'
  recorded_at: 2023-03-16 20:29:00 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
