http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/time_series_tables/CM0?collection=nhgis&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2345fa0eb3c427fbfe568bf1052912b8"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"name":"CM0","description":"Persons by Sex [2]","geographicIntegration":"Standardized
        to 2010","sequence":102.03,"timeSeries":[{"name":"AA","description":"Persons:
        Male","sequence":1},{"name":"AB","description":"Persons: Female","sequence":2}],"years":[{"name":"1990","description":"1990","sequence":108},{"name":"2000","description":"2000","sequence":118},{"name":"2010","description":"2010","sequence":131}],"geogLevels":[{"name":"state","description":"State","sequence":4},{"name":"county","description":"State--County","sequence":25},{"name":"tract","description":"State--County--Census
        Tract","sequence":66},{"name":"blck_grp","description":"State--County--Census
        Tract--Block Group","sequence":85},{"name":"cty_sub","description":"State--County--County
        Subdivision","sequence":102},{"name":"place","description":"State--Place","sequence":148},{"name":"cd111th","description":"State--Congressional
        District (2007-2013, 110th-112th Congress)","sequence":217},{"name":"cbsa","description":"Metropolitan
        Statistical Area/Micropolitan Statistical Area","sequence":338},{"name":"urb_area","description":"Urban
        Area","sequence":372},{"name":"zcta","description":"5-Digit ZIP Code Tabulation
        Area","sequence":382}]}'
  recorded_at: 2024-05-29 17:37:40 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
