http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/time_series_tables?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5b1e24185904ca5cb92db89cbdfe51b2"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '[{"name":"A00","description":"Total Population","geographic_integration":"Nominal","sequence":0.01,"years":["1790","1800","1810","1820","1830","1840","1850","1860","1870","1880","1890","1900","1910","1920","1930","1940","1950","1960","1970","1980","1990","2000","2010","2020"],"geog_levels":["state","county"]},{"name":"AV0","description":"Total
        Population","geographic_integration":"Nominal","sequence":0.02,"years":["1970","1980","1990","2000","2010","125","2020","195"],"geog_levels":["state","county","tract","cty_sub","place"]},{"name":"B78","description":"Total
        Population","geographic_integration":"Nominal","sequence":0.03,"years":["1980","1990","2000","2010","125","2020","195"],"geog_levels":["nation","region","division","state","county","tract","cty_sub","place"][...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"f99017a9fed01dd751bd512e9b9a1b60"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '[{"name":"1790_cPop","group":"1790 Census","description":"Population
        Data [US, States \u0026 Counties]","sequence":101},{"name":"1800_cPop","group":"1800
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":201},{"name":"1810_cPop","group":"1810
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":301},{"name":"1820_cPop","group":"1820
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":401},{"name":"1830_cPop",[...]
