http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets?collection=nhgis&version=2&pageNumber=1&pageSize=100
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c63aabce6b18c5158336911c0a2ecc37"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"name":"1790_cPop","group":"1790 Census","description":"Population
        Data [US, States \u0026 Counties]","sequence":101},{"name":"1800_cPop","group":"1800
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":201},{"name":"1810_cPop","group":"1810
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":301},{"name":"1820_cPop","group":"1820
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":401},{"name":"1830_cPop","group":"1830
        Census","description":"Population Data [US, States \u0026 Counties]","se[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets?pageNumber=2&pageSize=100&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5c33cc2fdd8e37e9729e5224e4bf6278"
      x-ratelimit-limit: '-1'
      x-ratelim[...]
[...]
