http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c5630b62c307622b46acd8d8ed37ddcf"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"1790_cPop","group":"1790 Census","description":"Population
        Data [US, States & Counties]","sequence":101},{"name":"1800_cPop","group":"1800
        Census","description":"Population Data [US, States & Counties]","sequence":201},{"name":"1810_cPop","group":"1810
        Census","description":"Population Data [US, States & Counties]","sequence":301},{"name":"1820_cPop","group":"1820
        Census","description":"Population Data [US, States & Counties]","sequence":401},{"name":"1830_cPop","group":"1830
        Census","description":"Population Data [US, States & Counties]","sequence":501},{"name"[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2016_2020_ACS5a?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"6d37745bc2491beabaee1294e07fb786"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"2016_2020_ACS5a","nhgis_id":"ds249","group":"2020 American
        Community Survey","description":"5-Year Data [2016-2020, Block Groups & Larger
        Areas]","sequence":5902,"has_multiple_data_types":true,"data_tables":[{"name":"B01001","nhgis_code":"AMPK","description":"Sex
        by Age","sequence":1},{"name":"B01002","nhgis_code":"AMPL","description":"Median
        Age by Sex","sequence":2},{"name":"B01002A","nhgis_code":"AMPM","description":"Median
        Age by Sex (White Alone)","sequence":3},{"name":"B01002B","nhgis_code":"AMPN","description":"Median
        Age by Sex (Black or African American Alone)","sequence":4},{"name":"B01002C","nhgis_code":"AMPO","description":"Median
        Age by Sex (American Indian and Alaska Native A[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2016_2020_ACS5b?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"50af69852cf205d60358d852b16234ab"
      status: 200[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2016_2020_ACS5c?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"19174645dec64455a68b933f670cafff"
      status: 200[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2016_2020_ACS5d?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8e86098a1adcb1cf86c4b1c76c18f2ff"
      status: 200[...]
