http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/shapefiles?collection=nhgis&version=2&pageNumber=1&pageSize=2500
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"90237232fcf47b73a46675385dcf625c"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"name":"us_state_1790_tl2000","year":"1790","geographicLevel":"State","extent":"United
        States","basis":"2000 TIGER/Line +","sequence":1},{"name":"us_county_1790_tl2000","year":"1790","geographicLevel":"County","extent":"United
        States","basis":"2000 TIGER/Line +","sequence":2},{"name":"us_county_1790_tl2008","year":"1790","geographicLevel":"County","extent":"United
        States","basis":"2008 TIGER/Line +","sequence":3},{"name":"us_state_1800_tl2000","year":"1800","geographicLevel":"State","extent":"United
        States","basis":"2000 TIGER/Line +","sequence":4},{"name":"us_county_1800_tl2000","year":"1800","geograph[...]
