http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/time_series_tables/CM0?collection=nhgis&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a85ec3ea34509669a20218db24e278f3"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"name":"CM0","description":"Persons by Sex [2]","geographicIntegration":"Standardized
        to 2010","sequence":102.03,"timeSeries":[{"name":"AA","description":"Persons:
        Male","sequence":1},{"name":"AB","description":"Persons: Female","sequence":2}],"years":[{"name":"1990","description":"1990","sequence":108},{"name":"2000","description":"2000","sequence":118},{"name":"2010","description":"2010","sequence":131}],"geogLevels":[{"name":"state","description":"State","hasGeogExtentSelection":true,"sequence":4},{"name":"county","description":"State--County","hasGeogExtentSelection":true,"sequence":25},{"name":"tract","description":"State--County--Census
        Tract","hasGeogExtentSelection":true,"sequence":66},{"name":"blck_grp","description":"State--County--Census
        Tract--Block Group","hasGeogExtentSelection":true,"sequence":85},{"name":"cty_sub","description":"State--County--County
        Subdivision","hasGeogExtentSelection":true,"sequence":102},{"name":"place","description":"State--Place","hasGeogExtentSelection":true,"sequence":148},{"name":"cd111th","description":"State--Congressional
        District (2007-2013, 110th-112th Congress)","hasGeogExtentSelection":true,"sequence":217},{"name":"cbsa","description":"Metropolitan
        Statistical Area/Micropolitan Statistical Area","hasGeogExtentSelection":false,"sequence":338},{"name":"urb_area","description":"Urban
        Area","hasGeogExtentSelection":false,"sequence":372},{"name":"zcta","description":"5-Digit
        ZIP Code Tabulation Area","hasGeogExtentSelection":false,"sequence":382}],"geographicInstances":[{"name":"010","description":"Alabama"},{"name":"020","description":"Alaska"},{"name":"040","description":"Arizona"},{"name":"050","description":"Arkansas"},{"name":"060","description":"California"},{"name":"080","description":"Colorado"},{"name":"090","description":"Connecticut"},{"name":"100","description":"Delaware"},{"name":"110","description":"District
        of Columbia"},{"name":"120","description":"Florida"},{"name":"130","description":"Georgia"},{"name":"150","description":"Hawaii"},{"[...]
