http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/time_series_tables?version=2&pageNumber=1&pageSize=30
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ac4348ab046b0945f0d51ad2ccca5f18"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"name":"A00","description":"Total Population","geographicIntegration":"Nominal","sequence":0.01,"timeSeries":[{"name":"AA","description":"Persons:
        Total","sequence":1}],"years":[{"name":"1790","description":"1790","sequence":1},{"name":"1800","description":"1800","sequence":2},{"name":"1810","description":"1810","sequence":3},{"name":"1820","description":"1820","sequence":4},{"name":"1830","description":"1830","sequence":5},{"name":"1840","description":"1840","sequence":6},{"name":"1850","description":"1850","sequence":7},{"name":"1860","description":"1860","sequence":8},{"name":"1870","description":"1870","sequence":12},{"name":"1880","description":"1880","sequence":22},{"name":"1890","description":"1890","sequence":29},{"name":"1900","description":"1900","sequence":30},{"name":"1910","description":"1910","sequence":32},{"name":"1920","description":"1920","sequence":38},{"name":"1930","description":"1930","sequence":48},{"name":"1940","description":"1940","sequence":58},{"name":"1950","description":"1950","sequence":68},{"name":"1960","description":"1960","sequence":78},{"name":"1970","description":"1970","sequence":88},{"name":"1980","description":"1980","sequence":98},{"name":"1990","description":"1990","sequence":108},{"name":"2000","description":"2000","sequence":118},{"name":"2010","description":"2010","sequence":131},{"name":"2020","description":"2020","sequence":155}],"geogLevels":[{"name":"state","description":"State","sequence":4},{"name":"county","description":"State--County","sequence":25}]},{"name":"AV0","description":"Total
        Population","geographicIntegration":"Nominal","sequence":0.02,"timeSeries":[{"name":"AA","description":"Persons:
        Total","sequence":1}],"years":[{"name":"1970","description":"1970","sequence":88},{"name":"1980","description":"1980","sequence":98},{"name":"1990","description":"1990","sequence":108},{"name":"2000","description":"2000[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets?version=2&pageNumber=1&pageSize=2500
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"9fcbe25607d733017f7e4c7aa4b7824d"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"name":"1790_cPop","group":"1790 Census","description":"Population
        Data [US, States \u0026 Counties]","sequence":101},{"name":"1800_cPop","group":"1800
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":201},{"name":"1810_cPop","group":"1810
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":301},{"name":"1820_cPop","group":"1820
        Census","description":"Population Data [US, States \u0026 Counties]","sequence":401},{"name":"1830_cPop",[...]
