http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"638287de4300e87b90c2d930eb967651"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"1790_cPop","group":"1790 Census","description":"Population
        Data [US, States & Counties]","sequence":101},{"name":"1800_cPop","group":"1800
        Census","description":"Population Data [US, States & Counties]","sequence":201},{"name":"1810_cPop","group":"1810
        Census","description":"Population Data [US, States & Counties]","sequence":301},{"name":"1820_cPop","group":"1820
        Census","description":"Population Data [US, States & Counties]","sequence":401},{"name":"1830_cPop","group":"1830
        Census","description":"Population Data [US, States & Counties]","sequence":501},{"name"[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2021_ACS1?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2855f065228a2f760179b92fb97985c4"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"2021_ACS1","nhgis_id":"ds253","group":"2021 American Community
        Survey","description":"1-Year Data","sequence":6001,"has_multiple_data_types":true,"data_tables":[{"name":"B01001","nhgis_code":"ANK8","description":"Sex
        by Age","sequence":1},{"name":"B01001A","nhgis_code":"ANK9","description":"Sex
        by Age (White Alone)","sequence":2},{"name":"C01001A","nhgis_code":"AOGU","description":"Sex
        by Age (White Alone)","sequence":3},{"name":"B01001B","nhgis_code":"ANLA","description":"Sex
        by Age (Black or African American Alone)","sequence":4},{"name":"C01001B","nhgis_code":"AOGV","description":"Sex
        by Age (Black or African American Alone)","sequence":5},[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2017_2021_ACS5a?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ae8a9791a947c2c7888223c573ac0a8a"
      status: 200[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2017_2021_ACS5b?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"421726ad60d9739d026317b3e134894c"
      status: 200[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2017_2021_ACS5c?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"ca8990b6181bb980d6a262955c9c69b3"
      status: 200[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2017_2021_ACS5d?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e30ad1a40094538559bc5608901fb83e"
      status: 200[...]
