http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/data_tables?version=2&pageNumber=1&pageSize=10
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"dab97f897e9685d58827af63c0b5e08a"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"name":"NT1","description":"Total Population","universe":"Persons","nhgisCode":"AAA","sequence":1,"datasetName":"1790_cPop","nVariables":1},{"name":"NT2","description":"Urban
        Population (Incorporated Places 2,500 and Over)","universe":"Urban Persons
        (Incorporated Places 2,500 and Over)","nhgisCode":"AAK","sequence":2,"datasetName":"1790_cPop","nVariables":1},{"name":"NT3","description":"Urban
        Population in Cities of 25,000 and Over","universe":"Urban Persons in Cities
        of 25,000 and Over","nhgisCode":"AAN","sequence":3,"datasetName":"1790_cPop","nVariables":1},{"name":"NT4","description":"White
    [...]
