http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2010_SF1a?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"225379794386f6e21e8f0e5c6f73f013"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"2010_SF1a","nhgis_id":"ds172","group":"2010 Census","description":"SF
        1a - P & H Tables [Blocks & Larger Areas]","sequence":4802,"has_multiple_data_types":false,"data_tables":[{"name":"P1","nhgis_code":"H7V","description":"Total
        Population","sequence":1},{"name":"P2","nhgis_code":"H7W","description":"Urban
        and Rural","sequence":2},{"name":"P3","nhgis_code":"H7X","description":"Race","sequence":3},{"name":"P4","nhgis_code":"H7Y","description":"Hispanic
        or Latino Origin","sequence":4},{"name":"P5","nhgis_code":"H7Z","description":"Hispanic
        or Latino Origin by Race","sequence":5},{"name":"P6","nhgis_code":"H70","description":"Race
        (Total Races Tallied)","se[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2010_SF1a/data_tables/P8?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"02fcf1290a64f2050f8dd189a6ec85a6"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"P8","description":"Race","universe":"Total population","nhgis_code":"H72","sequence":8,"variables":[{"description":"Total","nhgis_code":"H72001"},{"description":"Population
        of one race","nhgis_code":"H72002"},{"description":"Population of one race:
        White alone","nhgis_code":"H72003"},{"description":"Population of one race:
        Black or African American alone","nhgis_code":"H72004"},{"description":"Population
        of one race: American Indian and Alaska Native alone","nhgis_code":"H72005"},{"description":"Population
        of one race: Asian alone","nhgis_code":"H72006"[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/time_series_tables/CM0?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"f7bf5a96e9dd731790c9b08e7f997ca8"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"CM0","description":"Persons by Sex [2]","geographic_integration":"Standardized
        to 2010","sequence":10.03,"time_series":[{"name":"AA","description":"Persons:
        Male","sequence":1},{"name":"AB","description":"Persons: Female","sequence":2}],"years":[{"name":"1990","description":"1990","sequence":108},{"name":"2000","description":"2000","sequence":118},{"name":"2010","description":"2010","sequence":131}],"geog_levels":[{"name":"state","description":"State","sequence":4},{"name":"county","description":"State--County","sequence":25},{"name":"tract","description":"State--County--Census
        Tract","sequence":65},{"name":"blck_grp","description":"State--County--Census
        Tract--Block Group","sequence":83},{"name":"cty_sub","description":"State--County--County
        Subdivision","sequence":100},{"name":"place","description":"State--Place","sequence":145},{"name":"cd111th","description":"State--Congressional
        District (2007-2013, 110th-112th Congress)","sequence":210},{"name":"cbsa","description":"Metropolitan
        Statistical Area/Micropolitan Statistical Area","sequence":319},{"name":"urb_area","description":"Urban
        Area","sequence":353},{"name":"zcta","description":"5-Digit ZIP Code Tabulation
        Area","sequence":363}]}'
  recorded_at: 2022-12-13 20:20:27 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
