http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=v1&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: foobar
  response:
    status:
      status_code: 403
      category: Client error
      reason: Forbidden
      message: 'Client error: (403) Forbidden'
    headers:
      content-type: application/json
      x-generator: tyk.io
    body:
      encoding: ''
      file: no
      string: |-
        {
            "error": "Access to this API has been disallowed"
        }
  recorded_at: 2023-03-16 20:14:32 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/1018?collection=nhgis&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 404
      category: Client error
      reason: Not Found
      message: 'Client error: (404) Not Found'
    headers:
      content-type: text/html; charset=UTF-8
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: ''
  recorded_at: 2023-03-16 20:14:32 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=v1&limit=1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"cd77a582d58c0176b2f1d0aa94a2eb6c"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '[{"description":"","shapefiles":["110_blck_grp_2019_tl2019"],"number":1017,"status":"completed","download_links":{"gis_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1986394/nhgis1017_shape.zip"}}]'
  recorded_at: 2023-03-16 20:14:32 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=v1
    body:
      encoding: ''
      string: '{"datasets":{"foo":{"data_tables":[null],"geog_levels":[null]}}}'
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 400
      category: Client error
      reason: Bad Request
      message: 'Client error: (400) Bad Request'
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"type":"SemanticValidationError","status":{"code":400,"name":"Bad
        Request"},"detail":["Datasets invalid: ''foo''","Data format invalid: '''';
        valid options include ''csv_no_header'', ''csv_header'', ''fixed_width''"]}'
  recorded_at: 2023-03-16 20:14:32 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
