http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/datasets/2010_SF1a?collection=nhgis&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"76a85ab5228ac40f486b631c02555a73"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"name":"2010_SF1a","nhgisId":"ds172","group":"2010 Census","description":"SF
        1a - P \u0026 H Tables [Blocks \u0026 Larger Areas]","sequence":4802,"hasMultipleDataTypes":false,"dataTables":[{"name":"P1","description":"Total
        Population","universe":"Total population","nhgisCode":"H7V","sequence":1,"datasetName":"2010_SF1a","nVariables":1},{"name":"P2","description":"Urban
        and Rural","universe":"Total population","nhgisCode":"H7W","sequence":2,"datasetName":"2010_SF1a","nVariables":6},{"name":"P3","description":"Race","universe":"Total
        population","nhgisCode":"H7X","sequence":3,"datasetName":"2010_SF1a","nVariables":8},{"name":"P4","description":"Hispanic
        or Latino Origin","universe":"Total population","nhgisCode":"H7Y","sequence":4,"datasetName":"2010_SF1a","nVariables":3},{"name":"P5","description":"Hi[...]
