http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/datasets/2010_SF1a/data_tables/P8?collection=nhgis&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"79ddde730abc0266e0270ba2b33392b7"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"name":"P8","description":"Race","universe":"Total population","nhgisCode":"H72","sequence":8,"datasetName":"2010_SF1a","variables":[{"description":"Total","nhgisCode":"H72001"},{"description":"Population
        of one race","nhgisCode":"H72002"},{"description":"Population of one race:
        White alone","nhgisCode":"H72003"},{"description":"Population of one race:
        Black or African American alone","nhgisCode":"H72004"},{"description":"Population
        of one race: American Indian and Alaska Native alone","nhgisCode":"H72005"},{"description":"Population
        of one race: Asian alone","nhgisCode":"H72006"},{"description":"Population
        of one race: Native Hawaiian and Other Pacific Islander alone","nhgisCode":"H72007"},{"description":"Population
        of one race: Some Other Race alone","nhgisCode":"H72008"},{"description":"Two
        or More Races","nhgisCode":"H72009"},{"description":"Two or More Races: Population
        of two races","nhgisCode":"H72010"},{"description":"Two or More Races: Population
        of two races: White; Black or African American","nhgisCode":"H72011"},{"description":"Two
        or More Races: Population of two races: White; American Indian and Alaska
        Native","nhgisCode":"H72012"},{"description":"Two or More Races: Population
        of two races: White; Asian","nhgisCode":"H72013"},{"description":"Two or More
        Races: Population of two races: White; Native Hawaiian and Other Pacific Islander","nhgisCode":"H72014"},{"description":"Two
        or More Races: Population of two races: White; Some Other Race","nhgisCode":"H72015"},{"description":"Two
        or More Races: Population of two races: Black or African American; American
        Indian and Alaska Native","nhgisCode":"H72016"},{"description":"Two or More
        Races: Population of two races: Black or African American; Asian","nhgisCode":"H72017"},{"d[...]
