http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"6aee3b2edaa0189130eddbbd6b897d5b"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"1790_cPop","group":"1790 Census","description":"Population
        Data [US, States & Counties]","sequence":101},{"name":"1800_cPop","group":"1800
        Census","description":"Population Data [US, States & Counties]","sequence":201},{"name":"1810_cPop","group":"1810
        Census","description":"Population Data [US, States & Counties]","sequence":301},{"name":"1820_cPop","group":"1820
        Census","description":"Population Data [US, States & Counties]","sequence":401},{"name":"1830_cPop","group":"1830
        Census","description":"Population Data [US, States & Counties]","sequence":501},{"name"[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2016_2020_ACS5b?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5c971813ab6f17d101ede239577e2efc"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"2016_2020_ACS5b","nhgis_id":"ds250","group":"2020 American
        Community Survey","description":"5-Year Data [2016-2020, Tracts & Larger Areas]","sequence":5803,"has_multiple_data_types":true,"data_tables":[{"name":"B01001A","nhgis_code":"AMZ0","description":"Sex
        by Age (White Alone)","sequence":1},{"name":"B01001B","nhgis_code":"AMZ1","description":"Sex
        by Age (Black or African American Alone)","sequence":2},{"name":"B01001C","nhgis_code":"AMZ2","description":"Sex
        by Age (American Indian and Alaska Native Alone)","sequence":3},{"name":"B01001D","nhgis_code":"AMZ3","description":"Sex
        by Age (Asian Alone)","sequence":4},{"name":"B01001E","nhgis_code":"AMZ4","description":"Sex
        by Age (Native[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2016_2020_ACS5c?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8032c6c86fb9f83ea917c3c775cd56e7"
      status: 200[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2016_2020_ACS5d?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"f916120bbd9af7ea74e9e21764c8ece4"
      status: 200[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2020_PL94171?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"600ae1267a183865a7ce61a597e9963a"
      status: 200 OK[...]
- request:
    method: get
    uri: https://api.ipums.org/metadata/nhgis/datasets/2021_ACS1?version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"bcdc5820ff5719854a5d8b841caa5277"
      status: 200 OK
  [...]
