http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/421?collection=nhgis&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"f134d34b4f4e4145bc64b35547da4d59"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"number":421,"data_format":null,"description":"","status":"completed","download_links":{"gis_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1784003/nhgis0421_shape.zip"},"datasets":null,"time_series_tables":null}'
  recorded_at: 2022-04-04 20:53:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
