http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/408?collection=nhgis&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"c63dcdf96650f5bd39f377aa4950a99a"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"number":408,"data_format":null,"description":"","status":"completed","download_links":{"gis_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1780213/nhgis0408_shape.zip"},"datasets":null,"time_series_tables":null}'
  recorded_at: 2022-03-30 14:58:49 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
