http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/1171?collection=nhgis&version=2
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"7a4b91486c9d367cc64c2c081767fa7c"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":1171,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"gisData":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2004718/nhgis1171_shape.zip","bytes":510593,"sha256":null}},"extractDefinition":{"description":"","shapefiles":["110_blck_grp_2019_tl2019"],"version":2,"collection":"nhgis"}}'
  recorded_at: 2023-04-10 15:01:04 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
