http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/1092?collection=nhgis&version=v1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"fc5e6998baa3ccd5de64125b6fba4108"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"description":"","shapefiles":["110_blck_grp_2019_tl2019"],"number":1092,"status":"completed","download_links":{"gis_data":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/1992271/nhgis1092_shape.zip"}}'
  recorded_at: 2023-03-23 20:05:02 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
