http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=cps&version=beta&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"6e118d0b5b0dc5511d591e3665f90a07"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '[{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps1976_01s":{},"cps1976_02b":{}},"variables":{"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"MISH":{},"PERNUM":{"preselected":true},"WTFINL":{"preselected":true},"CPSIDP":{"preselected":true},"UH_SEX_B1":{},"AGE":{},"SEX":{},"RACE":{}},"download_links":{"sas_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1834309/cps_00007.sas","bytes":4045,"sha256":"927b88a8a6ae7d2d7e948fb8321fa44268431ee887f7b9d4e094113208987c18"},"stata_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1834309/cps_00007.do","bytes":7764,"sha256":"223ffa9100188fbc7778132e376b0213e0253b5853bb5710c01770655c12b7db"},"spss_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1834309/cps_00007.sps","bytes":3894,"sha256":"7e5d8502185b0ad0f5d13d403f64b884070f659dc7749e3a91962c2e593a3beb"},"basic_codebook":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1834309/cps_00007.cbk","bytes":5771,"sha256":"ff868fc0540f7de82141a16453a6b364fcd94048e6139c971247bc0414803368"},"R_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1834309/cps_00007.R","bytes":406,"sha256":"87120c3b037aa2e6797271e105b19421ad88d2a7a1d27395769ce5f7910223a7"},"data":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1834309/cps_00007.dat.gz","bytes":2440152,"sha256":"a23b17944b5dc635071a3983afb1bae270807b97674bc8e7c422c34c7fe4bd93"},"ddi_codebook":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1834309/cps_00007.xml","bytes":31650,"sha256":"43c9b41f50aa04a1b76cb180908d374ae376ec53a62ecc603fbef4ebb4edbb40"}},"number":7,"status":"completed"},{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps1976_01s":{},"cps1976_02b":{}},"variables":{"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"MISH":{},"PERNUM":{"preselected":true},"WTFINL":{"preselected":true},"CPSIDP":{"preselected":true},"UH_SEX_B1":{},"AGE":{},"SEX":{},"RACE":{}},"download_links":{"basi[...]
