http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=2&pageNumber=1&pageSize=1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"698e7eeed97d6eb69da903df58a008cf"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"data":[{"number":1171,"status":"completed","email":"robe2037@umn.edu","downloadLinks":{"gisData":{"url":"https://api.ipums.org/downloads/nhgis/api/v1/extracts/2004718/nhgis1171_shape.zip","bytes":510593,"sha256":null}},"extractDefinition":{"description":"","shapefiles":["110_blck_grp_2019_tl2019"],"version":2,"collection":"nhgis"}}],"totalCount":1171,"pageNumber":1,"pageSize":1,"links":{"previousPage":null,"nextPage":"https://api.ipums.org/extracts/?collection=nhgis\u0026pageNumber=2\u0026pageSize=1\u0026version=2"}}'
  recorded_at: 2023-04-10 15:01:05 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
