http_interactions:
- request:
    method: get
    uri: https://api.ipums.org/extracts/?collection=cps&version=beta&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2fb1f7d2b0d5a4c7fd6a8e8a8ae08738"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '[{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps1976_01s":{},"cps1976_02b":{}},"variables":{"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"MISH":{},"PERNUM":{"preselected":true},"WTFINL":{"preselected":true},"CPSIDP":{"preselected":true},"UH_SEX_B1":{},"AGE":{},"SEX":{},"RACE":{}},"download_links":{"spss_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1885611/cps_00008.sps","bytes":3894,"sha256":"7feb87e6a34723f4d20790acfb865d9ebf718bb66bb51ecd4bc32501023bdafb"},"basic_codebook":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1885611/cps_00008.cbk","bytes":5901,"sha256":"6f6b1a1fdc4458b7b9064ecebaac89a7949a535a638814517c7717093e107ea2"},"sas_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1885611/cps_00008.sas","bytes":4045,"sha256":"0bddd7de5097d55868c17d1e53b6f764fa2f2c0047a425fbcfd90fd9f29957cf"},"R_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1885611/cps_00008.R","bytes":406,"sha256":"cd301ae95a46e94d16548530c159343510c2bf208247a4f1e10584a5f0b2fee0"},"stata_command_file":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1885611/cps_00008.do","bytes":7764,"sha256":"6d1e42b5c687ae72d5373ac7a09b9adb8165d9437a45b61ec57830790952525c"},"ddi_codebook":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1885611/cps_00008.xml","bytes":31656,"sha256":"3539c3d50b076c28b0c9ac4e68289c387045206fe7f2d746e63bfbcfb10e3f0a"},"data":{"url":"https://api.ipums.org/downloads/cps/api/v1/extracts/1885611/cps_00008.dat.gz","bytes":2440152,"sha256":"a23b17944b5dc635071a3983afb1bae270807b97674bc8e7c422c34c7fe4bd93"}},"number":8,"status":"completed"},{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps1976_01s":{},"cps1976_02b":{}},"variables":{"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"MISH":{},"PERNUM":{"preselected":true},"WTFINL":{"preselected":true},"CPSIDP":{"preselected":true},"UH_SEX_B1":{},"AGE":{},"SEX":{},"RACE":{}},"download_links":{},"nu[...]
