http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts?collection=nhgis&version=2
    body:
      encoding: ''
      string: '{"datasets":{"2014_2018_ACS5a":{"dataTables":["B01001","B01002"],"geogLevels":["nation"]},"2015_2019_ACS5a":{"dataTables":["B01001","B01002"],"geogLevels":["blck_grp"]}},"timeSeriesTables":{"CW3":{"geogLevels":["state"],"years":["1990"]}},"shapefiles":["110_blck_grp_2019_tl2019"],"dataFormat":"csv_no_header","description":"Extract
        for R client testing","breakdownAndDataTypeLayout":"single_file","timeSeriesTableLayout":"time_by_row_layout","geographicExtents":["110","100"],"collection":"nhgis","version":2}'
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"97123a5b854a7a11e6423abcc4b76546"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":1436,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"dataFormat":"csv_no_header","description":"Extract
        for R client testing","datasets":{"2014_2018_ACS5a":{"dataTables":["B01001","B01002"],"geogLevels":["nation"]},"2015_2019_ACS5a":{"dataTables":["B01001","B01002"],"geogLevels":["blck_grp"]}},"timeSeriesTables":{"CW3":{"geogLevels":["state"],"years":["1990"]}},"timeSeriesTableLayout":"time_by_row_layout","shapefiles":["110_blck_grp_2019_tl2019"],"geographicExtents":["110","100"],"breakdownAndDataTypeLayout":"single_file","version":2,"collection":"nhgis"}}'
  recorded_at: 2024-12-09 22:03:05 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
