http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=2
    body:
      encoding: ''
      string: '{"shapefiles":["110_blck_grp_2019_tl2019"],"description":"","collection":"nhgis","version":2}'
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"26b7c4e561f8acdf96fb34300c6a1686"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":1271,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"description":"","shapefiles":["110_blck_grp_2019_tl2019"],"version":2,"collection":"nhgis"}}'
  recorded_at: 2023-07-20 21:27:40 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
