http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=v1
    body:
      encoding: ''
      string: '{"shapefiles":["110_blck_grp_2019_tl2019"],"description":""}'
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1e10c14970dfc82ab0bdf1f4919dc5f0"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"description":"","shapefiles":["110_blck_grp_2019_tl2019"],"number":1094,"status":"queued","download_links":{}}'
  recorded_at: 2023-03-23 20:05:13 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.0
