http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=2
    body:
      encoding: ''
      string: '{"shapefiles":["110_blck_grp_2019_tl2019"],"description":""}'
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"00243d36403ecdfadbaa15560aa2d261"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":1155,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"description":"","shapefiles":["110_blck_grp_2019_tl2019"],"version":2,"collection":"nhgis"}}'
  recorded_at: 2023-04-06 22:51:13 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
