http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=v1
    body:
      encoding: ''
      string: '{"datasets":{"2015_2019_ACS5a":{"data_tables":["B01001","B01002","B15003"],"geog_levels":["nation","blck_grp"]}},"time_series_tables":{"CW3":{"geog_levels":["county"]}},"shapefiles":["110_blck_grp_2019_tl2019"],"data_format":"csv_no_header","description":"Extract
        for R client testing","breakdown_and_data_type_layout":"single_file","time_series_table_layout":"time_by_column_layout","geographic_extents":["110","420"]}'
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"6e37c9790684ed8c02056e6afad51a6a"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"number":407,"data_format":"csv_no_header","description":"Extract
        for R client testing","status":null,"download_links":null,"datasets":{"2015_2019_ACS5a":{"data_tables":["B01001","B01002","B15003"],"geog_levels":["nation","blck_grp"]}},"time_series_tables":{"CW3":{"geog_levels":["county"]}}}'
  recorded_at: 2022-03-30 14:55:53 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
