http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=cps&version=2
    body:
      encoding: ''
      string: '{"description":"Compare age-sex-race breakdowns 1976","dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","samples":{"cps2018_03s":{},"cps2019_03s":{}},"variables":{"AGE":{"dataQualityFlags":true,"attachedCharacteristics":["head"]},"SEX":{"caseSelections":{"general":["2"]},"attachedCharacteristics":["mother","father"]},"RACE":{"caseSelections":{"general":["810","811","812"]}}},"collection":"cps","version":2}'
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"121fd1eb2f4d0325244828f7049c6395"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":90,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps2018_03s":{},"cps2019_03s":{}},"variables":{"RECTYPE":{},"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"ASECFLAG":{"preselected":true},"ASECWTH":{"preselected":true},"PERNUM":{"preselected":true},"CPSIDP":{"preselected":true},"ASECWT":{"preselected":true},"AGE":{"dataQualityFlags":true,"attachedCharacteristics":["head"]},"SEX":{"caseSelections":{"general":["2"]},"attachedCharacteristics":["mother","mother2","father","father2"]},"RACE":{"caseSelections":{"general":["810","811","812"]}}},"collection":"cps"}}'
  recorded_at: 2023-04-20 19:52:18 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
