http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts?collection=ihgis&version=2
    body:
      encoding: ''
      string: '{"datasets":{"AL2001pop":{"dataTables":["AL2001pop.ADF","AL2001pop.ADG"],"tabulationGeographies":["AL2001pop.g0","AL2001pop.g1"]}},"description":"Extract
        for R client testing","collection":"ihgis","version":2}'
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8c0eb569de580ff15af3b07b4d8dca15"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":5,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"description":"Extract
        for R client testing","datasets":{"AL2001pop":{"dataTables":["AL2001pop.ADF","AL2001pop.ADG"],"tabulationGeographies":["AL2001pop.g0","AL2001pop.g1"]}},"version":2,"collection":"ihgis"}}'
  recorded_at: 2025-05-30 13:06:51 GMT
  recorded_with: vcr/1.7.0, webmockr/2.0.0
