http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=v1
    body:
      encoding: ''
      string: '{"shapefiles":["us_nation_2012_tl2012"],"description":""}'
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"54a3d984c103434a53d857dc8936667b"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"number":378,"data_format":null,"description":"","status":null,"download_links":null,"datasets":null,"time_series_tables":null}'
  recorded_at: 2022-03-25 20:41:56 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
