http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=nhgis&version=v1
    body:
      encoding: ''
      string: '{"shapefiles":["110_blck_grp_2019_tl2019"],"description":""}'
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"df73e05fc03342a994d352f1f350e4fd"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"number":408,"data_format":null,"description":"","status":null,"download_links":null,"datasets":null,"time_series_tables":null}'
  recorded_at: 2022-03-30 14:58:34 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
