http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=cps&version=2
    body:
      encoding: ''
      string: '{"description":"Compare age-sex-race breakdowns 1976","dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","samples":{"cps1976_01s":{},"cps1976_02b":{}},"variables":{"YEAR":{},"MISH":{},"CPSIDP":{},"AGE":{},"SEX":{},"RACE":{},"UH_SEX_B1":{}},"collection":"cps","version":2}'
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"718bd849f55e158df6e66cc89e338e7e"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":76,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps1976_01s":{},"cps1976_02b":{}},"variables":{"RECTYPE":{},"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"MISH":{},"PERNUM":{"preselected":true},"WTFINL":{"preselected":true},"CPSIDP":{"preselected":true},"UH_SEX_B1":{},"AGE":{},"SEX":{},"RACE":{}},"collection":"cps"}}'
  recorded_at: 2023-04-11 19:40:31 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
