http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=cps&version=beta
    body:
      encoding: ''
      string: '{"description":"Compare age-sex-race breakdowns 1976","data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","samples":{"cps1976_01s":{},"cps1976_02b":{}},"variables":{"YEAR":{},"MISH":{},"CPSIDP":{},"AGE":{},"SEX":{},"RACE":{},"UH_SEX_B1":{}}}'
    headers:
      Content-Type: application/json
      Authorization: <<<IPUMS_API_KEY>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"f8dbeaaa7bc103285ba5c93f0a6eed34"
      status: 200 OK
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: UTF-8
      file: no
      string: '{"data_structure":{"rectangular":{"on":"P"}},"data_format":"fixed_width","description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps1976_01s":{},"cps1976_02b":{}},"variables":{"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"MISH":{},"PERNUM":{"preselected":true},"WTFINL":{"preselected":true},"CPSIDP":{"preselected":true},"UH_SEX_B1":{},"AGE":{},"SEX":{},"RACE":{}},"download_links":{},"number":9,"status":"queued"}'
  recorded_at: 2022-10-14 21:40:05 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
