http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts?collection=cps&version=2
    body:
      encoding: ''
      string: '{"description":"Compare age-sex-race breakdowns 1976","dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","sampleMembers":{"includeNonRespondents":false,"includeHouseholdMembers":false},"samples":{"cps2018_03s":{},"cps2019_03s":{}},"variables":{"AGE":{"dataQualityFlags":false,"attachedCharacteristics":["head"]},"SEX":{"caseSelections":{"general":["2"]},"attachedCharacteristics":["mother","father"]},"RACE":{"caseSelections":{"general":["810","811","812"]}}},"caseSelectWho":"individuals","dataQualityFlags":true,"collection":"cps","version":2}'
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"09c1ea7a9fbf20d2fb3b7a1088a6e437"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":175,"status":"queued","email":"robe2037@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"hierarchical":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","dataQualityFlags":true,"description":"Compare
        age-sex-race breakdowns 1976","samples":{"cps2018_03s":{},"cps2019_03s":{}},"variables":{"RECTYPE":{"preselected":true},"YEAR":{"preselected":true},"SERIAL":{"preselected":true},"MONTH":{"preselected":true},"CPSID":{"preselected":true},"ASECFLAG":{"preselected":true},"ASECWTH":{"preselected":true},"PERNUM":{"preselected":true},"CPSIDP":{"preselected":true},"CPSIDV":{"preselected":true},"ASECWT":{"preselected":true},"AGE":{"attachedCharacteristics":["head"]},"SEX":{"caseSelections":{"general":["2"]},"attachedCharacteristics":["mother","mother2","father","father2"]},"RACE":{"caseSelections":{"general":["810","811","812"]}}},"collection":"cps"}}'
  recorded_at: 2024-12-09 22:06:26 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
