http_interactions:
- request:
    method: post
    uri: https://api.ipums.org/extracts/?collection=usa&version=2
    body:
      encoding: ''
      string: '{"description":"Test USA household-only extract","dataStructure":{"householdOnly":{}},"dataFormat":"fixed_width","sampleMembers":{"includeNonRespondents":false,"includeHouseholdMembers":false},"samples":{"us2017b":{}},"variables":{"STATEFIP":{}},"caseSelectWho":"individuals","collection":"usa","version":2}'
    headers:
      Authorization: <<<IPUMS_API_KEY>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e2b31dd0d751f796f0e8e9ac59b9ae72"
      x-ratelimit-limit: '-1'
      x-ratelimit-remaining: '0'
      x-ratelimit-reset: '0'
    body:
      encoding: ''
      file: no
      string: '{"number":139,"status":"queued","email":"burkx031@umn.edu","downloadLinks":{},"extractDefinition":{"version":2,"dataStructure":{"householdOnly":{}},"dataFormat":"fixed_width","caseSelectWho":"individuals","description":"Test
        USA household-only extract","samples":{"us2017b":{}},"variables":{"YEAR":{"preselected":true},"SAMPLE":{"preselected":true},"SERIAL":{"preselected":true},"CBSERIAL":{"preselected":true},"HHWT":{"preselected":true},"STATEFIP":{},"GQ":{"preselected":true}},"collection":"usa"}}'
  recorded_at: 2024-06-05 20:02:27 GMT
  recorded_with: vcr/1.2.2, webmockr/0.9.0
